In [1]:
import pandas as pd

In [2]:
data = pd.read_excel('../spca_wildlife_injuries/Wildlife_Data.xlsx', sheet_name = None)

In [3]:
data.keys()
#there are three sheets of data

dict_keys(['2020', '2019', '2018'])

In [4]:
wildlife_2018 = pd.read_excel('../spca_wildlife_injuries/Wildlife_Data.xlsx', sheet_name = '2018')
wildlife_2019 = pd.read_excel('../spca_wildlife_injuries/Wildlife_Data.xlsx', sheet_name = '2019')
wildlife_2020 = pd.read_excel('../spca_wildlife_injuries/Wildlife_Data.xlsx', sheet_name = '2020')

In [5]:
wildlife_2018.head()

,CALL_DESCRIPTION,CALL_REGION,CALL_SAVED_TIME,CA_ANIMAL_TYPE,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,RTA deer - (2nd hand info). Is lying at side o...,Edinburgh,2018-01-01 00:00:00,Deer,NaN,NaN,NaN,NaN,NaN
1,Rescue bird - not obv sick/inj but in callers ...,Central,2018-01-01 00:00:00,Wild Bird,NaN,NaN,NaN,NaN,NaN
2,"Inj fox - seems broken leg, tries to get up th...",Central,2018-01-01 00:00:00,Fox,NaN,NaN,NaN,NaN,NaN
3,"Woman had animal living under shed, unsure wha...",NaN,2018-01-01 00:00:00,*Other Wildlife,NaN,NaN,NaN,NaN,NaN
4,"Catted blackbird - no obv injs, but cats were ...",Central,2018-01-01 00:00:00,Wild Bird,NaN,NaN,NaN,NaN,NaN

In [6]:
wildlife_2019.head()

,CALL_DESCRIPTION,CALL_REGION,CALL_SAVED_TIME,CA_ANIMAL_TYPE,Unnamed: 4,Unnamed: 5
0,Injured deer - unable to move - sitting on its...,Edinburgh,2019-01-01 00:00:00,Deer,NaN,NaN
1,"RTA deer, duplicate",Edinburgh,2019-01-01 00:00:00,Deer,NaN,NaN
2,"Inj fox, caller said back left leg is unable t...",Edinburgh,2019-01-01 00:00:00,Fox,NaN,NaN
3,"Neg birds - budgie and canary, very dirty cage...",Glasgow,2019-01-01 00:00:00,Wild Bird,NaN,NaN
4,"Rescue seal pup, caller has said it is very yo...",Aberdeen,2019-01-01 00:00:00,Seal,NaN,NaN

In [7]:
wildlife_2020.head()

,CALL_DESCRIPTION,CALL_REGION,CALL_SAVED_TIME,CA_ANIMAL_TYPE
0,RTA young deer - panting heavily. possibly bee...,Central,2020-01-01 00:00:00,Deer
1,"RTA deer - possible broken back legs, bleeding.",Central,2020-01-01 00:00:00,Deer
2,"RTA duplicate, to linked call.",Central,2020-01-01 00:00:00,Deer
3,inj bird - Has found a bird with plastic netti...,Aberdeen,2020-01-01 00:00:00,Wild Bird
4,"Inj gull, caller said one wing appears broken ...",Central,2020-01-01 00:00:00,Gull

In [8]:
wildlife_2018.shape

(75518, 9)

In [9]:
wildlife_2019.shape

(66168, 6)

In [10]:
wildlife_2020.shape

(11688, 4)

In [11]:
wildlife_2018['Unnamed: 4'].unique()
#it has strange observations in rows

array([nan, 'couldn\'t get into the box. "', '23:13.5', 2090557, 2099905,
       '29:55.1', 2105885, 'Fox', 'Owl',
       'unsure of type of deer in woods. Also advised she thinks woods are owner by Elie Estate but caller unsure. "',
       2124013, 'Wild Bird', 2130471, '24:12.5', 2135557,
       '*Other Wildlife', 2137387, None, 'Edinburgh', 2146337, '03:01.8',
       2158015, 2170302, 2181113, 2190641, 2191296,
       'looking for advice. "', 'Aberdeen', 2205468], dtype=object)

In [12]:
wildlife_2018['Unnamed: 5'].unique()

array([nan, 'Central', 'Fledgling', 'Deer', 2107397, 2116736, 2125796,
       'Squirrel', 2136152, None, '19:38.8', 'Swan', 'Glasgow', '13:26.0'],
      dtype=object)

In [13]:
wildlife_2018['Unnamed: 6'].unique()

array([nan, '29:36.5', 2082377, 2105803, '31:21.9', 2134822, None,
       'Fledgling', 2151814, '49:49.8', 'Wild Bird'], dtype=object)

In [14]:
wildlife_2018['Unnamed: 7'].unique()

array([nan, 'Wild Bird', 'Deer', None, 2141802, '*Other Wildlife',
       2205425], dtype=object)

In [15]:
wildlife_2018['Unnamed: 8'].unique()

array([     nan, 2080842., 2122586., 2194780.])

In [16]:
wildlife_data = pd.concat(data, ignore_index=True)
#combined all three sheets
#call_saved_time column has all years

In [17]:
wildlife_data.head()

,CALL_DESCRIPTION,CALL_REGION,CALL_SAVED_TIME,CA_ANIMAL_TYPE,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,RTA young deer - panting heavily. possibly bee...,Central,2020-01-01 00:00:00,Deer,NaN,NaN,NaN,NaN,NaN
1,"RTA deer - possible broken back legs, bleeding.",Central,2020-01-01 00:00:00,Deer,NaN,NaN,NaN,NaN,NaN
2,"RTA duplicate, to linked call.",Central,2020-01-01 00:00:00,Deer,NaN,NaN,NaN,NaN,NaN
3,inj bird - Has found a bird with plastic netti...,Aberdeen,2020-01-01 00:00:00,Wild Bird,NaN,NaN,NaN,NaN,NaN
4,"Inj gull, caller said one wing appears broken ...",Central,2020-01-01 00:00:00,Gull,NaN,NaN,NaN,NaN,NaN

In [18]:
wildlife_data.shape
#total rows as expected after combining three sheets

(153374, 9)

In [19]:
wildlife_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153374 entries, 0 to 153373
Data columns (total 9 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   CALL_DESCRIPTION  152743 non-null  object
 1   CALL_REGION       118735 non-null  object
 2   CALL_SAVED_TIME   153366 non-null  object
 3   CA_ANIMAL_TYPE    153372 non-null  object
 4   Unnamed: 4        31 non-null      object
 5   Unnamed: 5        15 non-null      object
 6   Unnamed: 6        9 non-null       object
 7   Unnamed: 7        5 non-null       object
 8   Unnamed: 8        3 non-null       float64
dtypes: float64(1), object(8)
memory usage: 10.5+ MB

# Removing extra columns

In [20]:
wildlife_extra = wildlife_data[wildlife_data['Unnamed: 4'].notnull()].copy()

In [21]:
wildlife_2018[wildlife_2018['Unnamed: 4'].notnull()]

,CALL_DESCRIPTION,CALL_REGION,CALL_SAVED_TIME,CA_ANIMAL_TYPE,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
2607,"Sick - Pigeon, thinks has cancers""? had one be...",falling over,cant seem to eat spitting back out,walking round in circles,"couldn't get into the box. """,Central,29:36.5,Wild Bird,2080842.0
2964,Poss inj bird - caller advised there are thick...,sounds like tapping noise against the floor,struggling to walk,sounds like a possible fledgling as still fluffy,23:13.5,Fledgling,2082377,NaN,NaN
5070,Resc swan - staying in the same spot in the ga...,has been there for the last 2 weeks,concerned that there is something wrong - plea...,Glasgow,2090557,NaN,NaN,NaN,NaN
8015,Wild Bird Cruelty - witnessed male at this add...,ambulances,"police to the house when nothing is wrong. """,Inverness,2099905,NaN,NaN,NaN,NaN
9912,Concerns for deer - caller drove past semi der...,noticed a holding pen with fences about 2.5 me...,inside pen was a stag and a deer,caller advised that a man was feeding the deer...,29:55.1,Deer,2105803,NaN,NaN
9939,"Inj bird - rapid breathing, wings look to be i...",unsure on opening hours,"but is going to ask owner to call in.""",Central,2105885,NaN,NaN,NaN,NaN
10508,Rescue fox cub - caller has a hole in wall whe...,advised we can't do anything unless there is a...,caller advised there is a large space you can ...,needs to leave property in the next hour. Woul...,Fox,2107397,NaN,NaN,NaN
13967,Rescue young owls - *possibly only advice* ver...,at the base of a tree,caller advised tree is 100ft high and he can s...,"very popular area for dog walkers.""",Owl,2116736,NaN,NaN,NaN
16556,Advise call - Caller advised she saw signs thi...,16th,17th,18th May,unsure of type of deer in woods. Also advised ...,Central,31:21.9,Deer,2122586.0
17286,HFM Nest Destruction - Today (18/5/18) a tree ...,1314780853,driving a pickup-truck white with company name...,Edinburgh,2124013,NaN,NaN,NaN,NaN
18259,Larsen Trap - **caller passed area on train - ...,caller advised that they looked very uncomfort...,no space for them to move,"no food or water provided. """,Wild Bird,2125796,NaN,NaN,NaN
20836,"Inj rabbit - leg looks wet""",unable to move,lying down and struggling to get up - not cont...,Central,2130471,NaN,NaN,NaN,NaN
23200,"Inj squirrel - caller can see marks on body""",bald patches,is clinging onto side of drain pipe to house,gulls are swooping,24:12.5,Squirrel,2134822,NaN,NaN
23645,"Poss inj hedgehog - been running around"" the b...",out in open,"caller thinks possibly blind - not contained.""",Aberdeen,2135557,NaN,NaN,NaN,NaN
23946,HFD Neg Animals - Animal Rescue Charity - New ...,one cat had eye infection but owner quite blas...,and supposedly there for 2 days without treatm...,owner said it was concussed and would recover....,*Other Wildlife,2136152,NaN,NaN,NaN
24643,Poss inj bird - no obvious injuries but caller...,was flying 4 days ago,"has deteriorated in this time - not contained.""",Aberdeen,2137387,NaN,NaN,NaN,NaN
27279,Rescue fledgling - please see linked - caller ...,young,has been watching for days,wasn't getting any food and parents never retu...,Edinburgh,19:38.8,Fledgling,2141802,NaN
30238,"Seagull fledgling - grey & fluffy, described a...",bright & alert,walking around. Parents are around. Normal fle...,Aberdeen,2146337,NaN,NaN,NaN,NaN
33526,"Rescue/Sick - Swans, caller thinks has pink fe...",sitting off to the edge on the footpath,been at least an hour,don't move when approached,03:01.8,Swan,2151814,NaN,NaN
37313,"Rescue fledgling gull - found inside garden, c...",been there for 3 days and hasn't seen parents ...,"caller has been feeding it. """,Central,2158015,NaN,NaN,NaN,NaN
44324,"Rescued hoglet - very small, about 4",contained. Caller unwilling to give out his te...,"he is keeping it inside and will be staying up""",Central,2170302,NaN,NaN,NaN,NaN
50114,Rescue fledgling - caller found fledgling drow...,contained and taken home,"had overnight. """,Aberdeen,2181113,NaN,NaN,NaN,NaN
55085,"Inj bird - wing doesn't look right""",not flown since 9am this morning,caller very vague and had an attitude with me ...,Glasgow,2190641,NaN,NaN,NaN,NaN
55434,"Inj - Seagull, thinks has 2 broken legs, is si...",not using legs at all,"will try and get box from shop to contain. """,Edinburgh,2191296,NaN,NaN,NaN,NaN
57154,"Advice - Animal in the close, unsure what it i...",laying completely still,wont move,even when approached,"looking for advice. """,Glasgow,49:49.8,*Other Wildlife,2194780.0
61852,"Rescue - Crow, very weak, making small huffing...",sat huddled down on tummy head constantly tuck...,was leaning against the tree rather than suppo...,caught no problem,Aberdeen,13:26.0,Wild Bird,2205425,NaN
61861,"Rescue - Rat, is stuck in the bowl"" cant climb...",lost of kids there taunting,"screaming and throwing things at it. """,Central,2205468,NaN,NaN,NaN,NaN

In [22]:
wildlife_2018.loc[61861,'CALL_DESCRIPTION']
#it looks like data was typed into more columns than one as they also describe calls

'Rescue - Rat, is stuck in the bowl" cant climb back out'

In [23]:
wildlife_extra

,CALL_DESCRIPTION,CALL_REGION,CALL_SAVED_TIME,CA_ANIMAL_TYPE,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
59563,Trapped Magpie - in an inside/outside corridor...,not going out of doors,distressed,continually flying into windows. As a high cei...,Wild Bird,2349137.0,NaN,NaN,NaN
60430,Duck cruelty. Caller is currently watching a m...,slim,blond,wearing long white t shirt and beige cargo sho...,Duck,2350858.0,NaN,NaN,NaN
70360,"Inj - Pigeon, left side, underneath and wing, ...",not really moving,"contained. """,Central,2372798,NaN,NaN,NaN,NaN
73945,"Deceased - Animal, completely skinned, looks s...",looks like a large fox or medium dog. Laying a...,"""",Glasgow,2382170,NaN,NaN,NaN,NaN
80463,"Sick - Pigeon, thinks has cancers""? had one be...",falling over,cant seem to eat spitting back out,walking round in circles,"couldn't get into the box. """,Central,29:36.5,Wild Bird,2080842.0
80820,Poss inj bird - caller advised there are thick...,sounds like tapping noise against the floor,struggling to walk,sounds like a possible fledgling as still fluffy,23:13.5,Fledgling,2082377,NaN,NaN
82926,Resc swan - staying in the same spot in the ga...,has been there for the last 2 weeks,concerned that there is something wrong - plea...,Glasgow,2090557,NaN,NaN,NaN,NaN
85871,Wild Bird Cruelty - witnessed male at this add...,ambulances,"police to the house when nothing is wrong. """,Inverness,2099905,NaN,NaN,NaN,NaN
87768,Concerns for deer - caller drove past semi der...,noticed a holding pen with fences about 2.5 me...,inside pen was a stag and a deer,caller advised that a man was feeding the deer...,29:55.1,Deer,2105803,NaN,NaN
87795,"Inj bird - rapid breathing, wings look to be i...",unsure on opening hours,"but is going to ask owner to call in.""",Central,2105885,NaN,NaN,NaN,NaN
88364,Rescue fox cub - caller has a hole in wall whe...,advised we can't do anything unless there is a...,caller advised there is a large space you can ...,needs to leave property in the next hour. Woul...,Fox,2107397,NaN,NaN,NaN
91823,Rescue young owls - *possibly only advice* ver...,at the base of a tree,caller advised tree is 100ft high and he can s...,"very popular area for dog walkers.""",Owl,2116736,NaN,NaN,NaN
94412,Advise call - Caller advised she saw signs thi...,16th,17th,18th May,unsure of type of deer in woods. Also advised ...,Central,31:21.9,Deer,2122586.0
95142,HFM Nest Destruction - Today (18/5/18) a tree ...,1314780853,driving a pickup-truck white with company name...,Edinburgh,2124013,NaN,NaN,NaN,NaN
96115,Larsen Trap - **caller passed area on train - ...,caller advised that they looked very uncomfort...,no space for them to move,"no food or water provided. """,Wild Bird,2125796,NaN,NaN,NaN
98692,"Inj rabbit - leg looks wet""",unable to move,lying down and struggling to get up - not cont...,Central,2130471,NaN,NaN,NaN,NaN
101056,"Inj squirrel - caller can see marks on body""",bald patches,is clinging onto side of drain pipe to house,gulls are swooping,24:12.5,Squirrel,2134822,NaN,NaN
101501,"Poss inj hedgehog - been running around"" the b...",out in open,"caller thinks possibly blind - not contained.""",Aberdeen,2135557,NaN,NaN,NaN,NaN
101802,HFD Neg Animals - Animal Rescue Charity - New ...,one cat had eye infection but owner quite blas...,and supposedly there for 2 days without treatm...,owner said it was concussed and would recover....,*Other Wildlife,2136152,NaN,NaN,NaN
102499,Poss inj bird - no obvious injuries but caller...,was flying 4 days ago,"has deteriorated in this time - not contained.""",Aberdeen,2137387,NaN,NaN,NaN,NaN
105135,Rescue fledgling - please see linked - caller ...,young,has been watching for days,wasn't getting any food and parents never retu...,Edinburgh,19:38.8,Fledgling,2141802,NaN
108094,"Seagull fledgling - grey & fluffy, described a...",bright & alert,walking around. Parents are around. Normal fle...,Aberdeen,2146337,NaN,NaN,NaN,NaN
111382,"Rescue/Sick - Swans, caller thinks has pink fe...",sitting off to the edge on the footpath,been at least an hour,don't move when approached,03:01.8,Swan,2151814,NaN,NaN
115169,"Rescue fledgling gull - found inside garden, c...",been there for 3 days and hasn't seen parents ...,"caller has been feeding it. """,Central,2158015,NaN,NaN,NaN,NaN
122180,"Rescued hoglet - very small, about 4",contained. Caller unwilling to give out his te...,"he is keeping it inside and will be staying up""",Central,2170302,NaN,NaN,NaN,NaN
127970,Rescue fledgling - caller found fledgling drow...,contained and taken home,"had overnight. """,Aberdeen,2181113,NaN,NaN,NaN,NaN
132941,"Inj bird - wing doesn't look right""",not flown since 9am this morning,caller very vague and had an attitude with me ...,Glasgow,2190641,NaN,NaN,NaN,NaN
133290,"Inj - Seagull, thinks has 2 broken legs, is si...",not using legs at all,"will try and get box from shop to contain. """,Edinburgh,2191296,NaN,NaN,NaN,NaN
135010,"Advice - Animal in the close, unsure what it i...",laying completely still,wont move,even when approached,"looking for advice. """,Glasgow,49:49.8,*Other Wildlife,2194780.0
139708,"Rescue - Crow, very weak, making small huffing...",sat huddled down on tummy head constantly tuck...,was leaning against the tree rather than suppo...,caught no problem,Aberdeen,13:26.0,Wild Bird,2205425,NaN
139717,"Rescue - Rat, is stuck in the bowl"" cant climb...",lost of kids there taunting,"screaming and throwing things at it. """,Central,2205468,NaN,NaN,NaN,NaN

In [24]:
wildlife_extra.shape
#only 31 rows

(31, 9)

In [25]:

wildlife_extra.loc[101802, 'CALL_DESCRIPTION']= wildlife_extra.loc[101802, 'CALL_DESCRIPTION'] + wildlife_extra.loc[101802, 'CALL_REGION'] + wildlife_extra.loc[101802, 'CA_ANIMAL_TYPE']

In [26]:
wildlife_extra.loc[101802, 'CALL_DESCRIPTION']

'HFD Neg Animals - Animal Rescue Charity - New Ark Animal Rescue" - Caller went there to volunteer and was shown around the facilities. 34 cats in one shed with an outdoor areaone cat had eye infection but owner quite blasÃ© saying it will get better by itself. Black-back gull covered in oil in a dog crateowner said it was concussed and would recover. Most water sources were dried out or filthy. Aviary bottoms covered in faeces and not cleaned up. Goldfish kept in a tank that was black from algae. Parrots in the "volunteer area" and caller could smell the smoke and ashtrays. Owner seems to take in any animal possible but perhaps getting beyond his capacity and animals seem to be suffering as a result. There was a lot of other animals there in variable states."'

In [27]:
wildlife_extra.loc[59563,'CALL_REGION'] = 'Unknown'
wildlife_extra.loc[59563,'CA_ANIMAL_TYPE'] = wildlife_extra.loc[59563,'Unnamed: 4']
wildlife_extra.loc[59563,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_extra.loc[60430,'CALL_REGION'] = 'Unknown'
wildlife_extra.loc[60430,'CA_ANIMAL_TYPE'] = wildlife_extra.loc[60430,'Unnamed: 4']
wildlife_extra.loc[60430,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_extra.loc[70360,'CALL_REGION'] = wildlife_extra.loc[70360,'CA_ANIMAL_TYPE']
wildlife_extra.loc[70360,'CA_ANIMAL_TYPE'] = 'Wild Bird'
wildlife_extra.loc[70360,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_extra.loc[73945,'CALL_REGION'] = wildlife_extra.loc[73945,'CA_ANIMAL_TYPE']
wildlife_extra.loc[73945,'CA_ANIMAL_TYPE'] = 'Unknown'
wildlife_extra.loc[73945,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_extra.loc[80463,'CALL_REGION'] = wildlife_extra.loc[80463,'Unnamed: 5']
wildlife_extra.loc[80463,'CA_ANIMAL_TYPE'] = wildlife_extra.loc[80463,'Unnamed: 7']
wildlife_extra.loc[80463,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_extra.loc[80820,'CALL_REGION'] = wildlife_extra.loc[80820,'Unnamed: 5']
wildlife_extra.loc[80820,'CA_ANIMAL_TYPE'] = 'Wild Bird'
wildlife_extra.loc[80820,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_extra.loc[82926,'CALL_REGION'] = 'Glasgow'
wildlife_extra.loc[82926,'CA_ANIMAL_TYPE'] = 'Swan'
wildlife_extra.loc[82926,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_extra.loc[85871,'CALL_REGION'] = 'Inverness'
wildlife_extra.loc[85871,'CA_ANIMAL_TYPE'] = 'Wild Bird'
wildlife_extra.loc[85871,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_extra.loc[87768,'CALL_REGION'] = 'Unknown'
wildlife_extra.loc[87768,'CA_ANIMAL_TYPE'] = 'Deer'
wildlife_extra.loc[87768,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_extra.loc[87795,'CALL_REGION'] = 'Central'
wildlife_extra.loc[87795,'CA_ANIMAL_TYPE'] = 'Wild Bird'
wildlife_extra.loc[87795,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_extra.loc[88364,'CALL_REGION'] = 'Unknown'
wildlife_extra.loc[88364,'CA_ANIMAL_TYPE'] = 'Fox'
wildlife_extra.loc[88364,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_extra.loc[91823,'CALL_REGION'] = 'Unknown'
wildlife_extra.loc[91823,'CA_ANIMAL_TYPE'] = 'Owl'
wildlife_extra.loc[91823,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_extra.loc[94412,'CALL_REGION'] = 'Central'
wildlife_extra.loc[94412,'CA_ANIMAL_TYPE'] = 'Deer'
wildlife_extra.loc[94412,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_extra.loc[95142,'CALL_REGION'] = 'Edinburgh'
wildlife_extra.loc[95142,'CA_ANIMAL_TYPE'] = 'Unknown'
wildlife_extra.loc[95142,'CALL_SAVED_TIME'] = '2018-05-18 00:00:00'

wildlife_extra.loc[96115,'CALL_REGION'] = 'Unknown'
wildlife_extra.loc[96115,'CA_ANIMAL_TYPE'] = 'Wild Bird'
wildlife_extra.loc[96115,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_extra.loc[98692,'CALL_REGION'] = 'Central'
wildlife_extra.loc[98692,'CA_ANIMAL_TYPE'] = 'Rabbit'
wildlife_extra.loc[98692,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_extra.loc[101056,'CALL_REGION'] = 'Unknown'
wildlife_extra.loc[101056,'CA_ANIMAL_TYPE'] = 'Squirrel'
wildlife_extra.loc[101056,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_extra.loc[101501,'CALL_REGION'] = 'Aberdeen'
wildlife_extra.loc[101501,'CA_ANIMAL_TYPE'] = 'Hedgehog'
wildlife_extra.loc[101501,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_extra.loc[101802,'CALL_REGION'] = 'Unknown'
wildlife_extra.loc[101802,'CA_ANIMAL_TYPE'] = '*Other Wildlife'
wildlife_extra.loc[101802,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_extra.loc[102499,'CALL_REGION'] = 'Aberdeen'
wildlife_extra.loc[102499,'CA_ANIMAL_TYPE'] = 'Wild Bird'
wildlife_extra.loc[102499,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_extra.loc[105135,'CALL_REGION'] = 'Edinburgh'
wildlife_extra.loc[105135,'CA_ANIMAL_TYPE'] = 'Fledgling'
wildlife_extra.loc[105135,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_extra.loc[108094,'CALL_REGION'] = 'Aberdeen'
wildlife_extra.loc[108094,'CA_ANIMAL_TYPE'] = 'Seagull'
wildlife_extra.loc[108094,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_extra.loc[111382,'CALL_REGION'] = 'Unknown'
wildlife_extra.loc[111382,'CA_ANIMAL_TYPE'] = 'Swan'
wildlife_extra.loc[111382,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_extra.loc[115169,'CALL_REGION'] = 'Central'
wildlife_extra.loc[115169,'CA_ANIMAL_TYPE'] = 'Seagull'
wildlife_extra.loc[115169,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_extra.loc[122180,'CALL_REGION'] = 'Central'
wildlife_extra.loc[122180,'CA_ANIMAL_TYPE'] = 'Hedgehog'
wildlife_extra.loc[122180,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_extra.loc[127970,'CALL_REGION'] = 'Aberdeen'
wildlife_extra.loc[127970,'CA_ANIMAL_TYPE'] = 'Wild Bird'
wildlife_extra.loc[127970,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_extra.loc[132941,'CALL_REGION'] = 'Glasgow'
wildlife_extra.loc[132941,'CA_ANIMAL_TYPE'] = 'Wild Bird'
wildlife_extra.loc[132941,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_extra.loc[133290,'CALL_REGION'] = 'Edinburgh'
wildlife_extra.loc[133290,'CA_ANIMAL_TYPE'] = 'Seagull'
wildlife_extra.loc[133290,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_extra.loc[135010,'CALL_REGION'] = 'Glasgow'
wildlife_extra.loc[135010,'CA_ANIMAL_TYPE'] = '*Other Wildlife'
wildlife_extra.loc[135010,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_extra.loc[139708,'CALL_REGION'] = 'Aberdeen'
wildlife_extra.loc[139708,'CA_ANIMAL_TYPE'] = 'Wild Bird'
wildlife_extra.loc[139708,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_extra.loc[139717,'CALL_REGION'] = 'Central'
wildlife_extra.loc[139717,'CA_ANIMAL_TYPE'] = 'Rat'
wildlife_extra.loc[139717,'CALL_SAVED_TIME'] = 'Unknown'

In [28]:
wildlife_extra.loc[80820, 'CALL_DESCRIPTION']= wildlife_extra.loc[80820, 'CALL_DESCRIPTION'] + wildlife_extra.loc[80820, 'CALL_REGION'] + wildlife_extra.loc[80820, 'CALL_SAVED_TIME']

In [29]:
wildlife_extra.loc[80820, 'CALL_DESCRIPTION']

'Poss inj bird - caller advised there are thick round rocks" on birds clawsFledglingUnknown'

In [30]:
from datetime import datetime
import xlrd
xl_date = 2080842

datetime_date = xlrd.xldate_as_tuple(xl_date, 0)
print(datetime_date)

#when converting excel date to python, they don't make sense so left as 'unknown'

(7597, 2, 23, 0, 0, 0)

In [31]:
wildlife_extra

,CALL_DESCRIPTION,CALL_REGION,CALL_SAVED_TIME,CA_ANIMAL_TYPE,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
59563,Trapped Magpie - in an inside/outside corridor...,Unknown,Unknown,Wild Bird,Wild Bird,2349137.0,NaN,NaN,NaN
60430,Duck cruelty. Caller is currently watching a m...,Unknown,Unknown,Duck,Duck,2350858.0,NaN,NaN,NaN
70360,"Inj - Pigeon, left side, underneath and wing, ...",Central,Unknown,Wild Bird,2372798,NaN,NaN,NaN,NaN
73945,"Deceased - Animal, completely skinned, looks s...",Glasgow,Unknown,Unknown,2382170,NaN,NaN,NaN,NaN
80463,"Sick - Pigeon, thinks has cancers""? had one be...",Central,Unknown,Wild Bird,"couldn't get into the box. """,Central,29:36.5,Wild Bird,2080842.0
80820,Poss inj bird - caller advised there are thick...,Fledgling,Unknown,Wild Bird,23:13.5,Fledgling,2082377,NaN,NaN
82926,Resc swan - staying in the same spot in the ga...,Glasgow,Unknown,Swan,2090557,NaN,NaN,NaN,NaN
85871,Wild Bird Cruelty - witnessed male at this add...,Inverness,Unknown,Wild Bird,2099905,NaN,NaN,NaN,NaN
87768,Concerns for deer - caller drove past semi der...,Unknown,Unknown,Deer,29:55.1,Deer,2105803,NaN,NaN
87795,"Inj bird - rapid breathing, wings look to be i...",Central,Unknown,Wild Bird,2105885,NaN,NaN,NaN,NaN
88364,Rescue fox cub - caller has a hole in wall whe...,Unknown,Unknown,Fox,Fox,2107397,NaN,NaN,NaN
91823,Rescue young owls - *possibly only advice* ver...,Unknown,Unknown,Owl,Owl,2116736,NaN,NaN,NaN
94412,Advise call - Caller advised she saw signs thi...,Central,Unknown,Deer,unsure of type of deer in woods. Also advised ...,Central,31:21.9,Deer,2122586.0
95142,HFM Nest Destruction - Today (18/5/18) a tree ...,Edinburgh,2018-05-18 00:00:00,Unknown,2124013,NaN,NaN,NaN,NaN
96115,Larsen Trap - **caller passed area on train - ...,Unknown,Unknown,Wild Bird,Wild Bird,2125796,NaN,NaN,NaN
98692,"Inj rabbit - leg looks wet""",Central,Unknown,Rabbit,2130471,NaN,NaN,NaN,NaN
101056,"Inj squirrel - caller can see marks on body""",Unknown,Unknown,Squirrel,24:12.5,Squirrel,2134822,NaN,NaN
101501,"Poss inj hedgehog - been running around"" the b...",Aberdeen,Unknown,Hedgehog,2135557,NaN,NaN,NaN,NaN
101802,HFD Neg Animals - Animal Rescue Charity - New ...,Unknown,Unknown,*Other Wildlife,*Other Wildlife,2136152,NaN,NaN,NaN
102499,Poss inj bird - no obvious injuries but caller...,Aberdeen,Unknown,Wild Bird,2137387,NaN,NaN,NaN,NaN
105135,Rescue fledgling - please see linked - caller ...,Edinburgh,Unknown,Fledgling,Edinburgh,19:38.8,Fledgling,2141802,NaN
108094,"Seagull fledgling - grey & fluffy, described a...",Aberdeen,Unknown,Seagull,2146337,NaN,NaN,NaN,NaN
111382,"Rescue/Sick - Swans, caller thinks has pink fe...",Unknown,Unknown,Swan,03:01.8,Swan,2151814,NaN,NaN
115169,"Rescue fledgling gull - found inside garden, c...",Central,Unknown,Seagull,2158015,NaN,NaN,NaN,NaN
122180,"Rescued hoglet - very small, about 4",Central,Unknown,Hedgehog,2170302,NaN,NaN,NaN,NaN
127970,Rescue fledgling - caller found fledgling drow...,Aberdeen,Unknown,Wild Bird,2181113,NaN,NaN,NaN,NaN
132941,"Inj bird - wing doesn't look right""",Glasgow,Unknown,Wild Bird,2190641,NaN,NaN,NaN,NaN
133290,"Inj - Seagull, thinks has 2 broken legs, is si...",Edinburgh,Unknown,Seagull,2191296,NaN,NaN,NaN,NaN
135010,"Advice - Animal in the close, unsure what it i...",Glasgow,Unknown,*Other Wildlife,"looking for advice. """,Glasgow,49:49.8,*Other Wildlife,2194780.0
139708,"Rescue - Crow, very weak, making small huffing...",Aberdeen,Unknown,Wild Bird,Aberdeen,13:26.0,Wild Bird,2205425,NaN
139717,"Rescue - Rat, is stuck in the bowl"" cant climb...",Central,Unknown,Rat,2205468,NaN,NaN,NaN,NaN

In [32]:
#I am happy with the changes above and ready to change the main dataset

## Main data changes

In [33]:
wildlife_data.loc[59563,'CALL_REGION'] = 'Unknown'
wildlife_data.loc[59563,'CA_ANIMAL_TYPE'] = wildlife_data.loc[59563,'Unnamed: 4']
wildlife_data.loc[59563,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_data.loc[60430,'CALL_REGION'] = 'Unknown'
wildlife_data.loc[60430,'CA_ANIMAL_TYPE'] = wildlife_data.loc[60430,'Unnamed: 4']
wildlife_data.loc[60430,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_data.loc[70360,'CALL_REGION'] = wildlife_data.loc[70360,'CA_ANIMAL_TYPE']
wildlife_data.loc[70360,'CA_ANIMAL_TYPE'] = 'Wild Bird'
wildlife_data.loc[70360,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_data.loc[73945,'CALL_REGION'] = wildlife_data.loc[73945,'CA_ANIMAL_TYPE']
wildlife_data.loc[73945,'CA_ANIMAL_TYPE'] = 'Unknown'
wildlife_data.loc[73945,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_data.loc[80463,'CALL_REGION'] = wildlife_data.loc[80463,'Unnamed: 5']
wildlife_data.loc[80463,'CA_ANIMAL_TYPE'] = wildlife_data.loc[80463,'Unnamed: 7']
wildlife_data.loc[80463,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_data.loc[80820,'CALL_REGION'] = wildlife_data.loc[80820,'Unnamed: 5']
wildlife_data.loc[80820,'CA_ANIMAL_TYPE'] = 'Wild Bird'
wildlife_data.loc[80820,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_data.loc[82926,'CALL_REGION'] = 'Glasgow'
wildlife_data.loc[82926,'CA_ANIMAL_TYPE'] = 'Swan'
wildlife_data.loc[82926,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_data.loc[85871,'CALL_REGION'] = 'Inverness'
wildlife_data.loc[85871,'CA_ANIMAL_TYPE'] = 'Wild Bird'
wildlife_data.loc[85871,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_data.loc[87768,'CALL_REGION'] = 'Unknown'
wildlife_data.loc[87768,'CA_ANIMAL_TYPE'] = 'Deer'
wildlife_data.loc[87768,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_data.loc[87795,'CALL_REGION'] = 'Central'
wildlife_data.loc[87795,'CA_ANIMAL_TYPE'] = 'Wild Bird'
wildlife_data.loc[87795,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_data.loc[88364,'CALL_REGION'] = 'Unknown'
wildlife_data.loc[88364,'CA_ANIMAL_TYPE'] = 'Fox'
wildlife_data.loc[88364,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_data.loc[91823,'CALL_REGION'] = 'Unknown'
wildlife_data.loc[91823,'CA_ANIMAL_TYPE'] = 'Owl'
wildlife_data.loc[91823,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_data.loc[94412,'CALL_REGION'] = 'Central'
wildlife_data.loc[94412,'CA_ANIMAL_TYPE'] = 'Deer'
wildlife_data.loc[94412,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_data.loc[95142,'CALL_REGION'] = 'Edinburgh'
wildlife_data.loc[95142,'CA_ANIMAL_TYPE'] = 'Unknown'
wildlife_data.loc[95142,'CALL_SAVED_TIME'] = '2018-05-18 00:00:00'

wildlife_data.loc[96115,'CALL_REGION'] = 'Unknown'
wildlife_data.loc[96115,'CA_ANIMAL_TYPE'] = 'Wild Bird'
wildlife_data.loc[96115,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_data.loc[98692,'CALL_REGION'] = 'Central'
wildlife_data.loc[98692,'CA_ANIMAL_TYPE'] = 'Rabbit'
wildlife_data.loc[98692,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_data.loc[101056,'CALL_REGION'] = 'Unknown'
wildlife_data.loc[101056,'CA_ANIMAL_TYPE'] = 'Squirrel'
wildlife_data.loc[101056,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_data.loc[101501,'CALL_REGION'] = 'Aberdeen'
wildlife_data.loc[101501,'CA_ANIMAL_TYPE'] = 'Hedgehog'
wildlife_data.loc[101501,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_data.loc[101802,'CALL_REGION'] = 'Unknown'
wildlife_data.loc[101802,'CA_ANIMAL_TYPE'] = '*Other Wildlife'
wildlife_data.loc[101802,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_data.loc[102499,'CALL_REGION'] = 'Aberdeen'
wildlife_data.loc[102499,'CA_ANIMAL_TYPE'] = 'Wild Bird'
wildlife_data.loc[102499,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_data.loc[105135,'CALL_REGION'] = 'Edinburgh'
wildlife_data.loc[105135,'CA_ANIMAL_TYPE'] = 'Fledgling'
wildlife_data.loc[105135,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_data.loc[108094,'CALL_REGION'] = 'Aberdeen'
wildlife_data.loc[108094,'CA_ANIMAL_TYPE'] = 'Gull'
wildlife_data.loc[108094,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_data.loc[111382,'CALL_REGION'] = 'Unknown'
wildlife_data.loc[111382,'CA_ANIMAL_TYPE'] = 'Swan'
wildlife_data.loc[111382,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_data.loc[115169,'CALL_REGION'] = 'Central'
wildlife_data.loc[115169,'CA_ANIMAL_TYPE'] = 'Fledgling'
wildlife_data.loc[115169,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_data.loc[122180,'CALL_REGION'] = 'Central'
wildlife_data.loc[122180,'CA_ANIMAL_TYPE'] = 'Hedgehog'
wildlife_data.loc[122180,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_data.loc[127970,'CALL_REGION'] = 'Aberdeen'
wildlife_data.loc[127970,'CA_ANIMAL_TYPE'] = 'Fledgling'
wildlife_data.loc[127970,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_data.loc[132941,'CALL_REGION'] = 'Glasgow'
wildlife_data.loc[132941,'CA_ANIMAL_TYPE'] = 'Wild Bird'
wildlife_data.loc[132941,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_data.loc[133290,'CALL_REGION'] = 'Edinburgh'
wildlife_data.loc[133290,'CA_ANIMAL_TYPE'] = 'Gull'
wildlife_data.loc[133290,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_data.loc[135010,'CALL_REGION'] = 'Glasgow'
wildlife_data.loc[135010,'CA_ANIMAL_TYPE'] = '*Other Wildlife'
wildlife_data.loc[135010,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_data.loc[139708,'CALL_REGION'] = 'Aberdeen'
wildlife_data.loc[139708,'CA_ANIMAL_TYPE'] = 'Wild Bird'
wildlife_data.loc[139708,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_data.loc[139717,'CALL_REGION'] = 'Central'
wildlife_data.loc[139717,'CA_ANIMAL_TYPE'] = 'Rat'
wildlife_data.loc[139717,'CALL_SAVED_TIME'] = 'Unknown'

In [34]:
wildlife_data[wildlife_data['Unnamed: 4'].notnull()]
#all looks good for further removal of unnessecary columns: unnamed ...etc.

,CALL_DESCRIPTION,CALL_REGION,CALL_SAVED_TIME,CA_ANIMAL_TYPE,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
59563,Trapped Magpie - in an inside/outside corridor...,Unknown,Unknown,Wild Bird,Wild Bird,2349137.0,NaN,NaN,NaN
60430,Duck cruelty. Caller is currently watching a m...,Unknown,Unknown,Duck,Duck,2350858.0,NaN,NaN,NaN
70360,"Inj - Pigeon, left side, underneath and wing, ...",Central,Unknown,Wild Bird,2372798,NaN,NaN,NaN,NaN
73945,"Deceased - Animal, completely skinned, looks s...",Glasgow,Unknown,Unknown,2382170,NaN,NaN,NaN,NaN
80463,"Sick - Pigeon, thinks has cancers""? had one be...",Central,Unknown,Wild Bird,"couldn't get into the box. """,Central,29:36.5,Wild Bird,2080842.0
80820,Poss inj bird - caller advised there are thick...,Fledgling,Unknown,Wild Bird,23:13.5,Fledgling,2082377,NaN,NaN
82926,Resc swan - staying in the same spot in the ga...,Glasgow,Unknown,Swan,2090557,NaN,NaN,NaN,NaN
85871,Wild Bird Cruelty - witnessed male at this add...,Inverness,Unknown,Wild Bird,2099905,NaN,NaN,NaN,NaN
87768,Concerns for deer - caller drove past semi der...,Unknown,Unknown,Deer,29:55.1,Deer,2105803,NaN,NaN
87795,"Inj bird - rapid breathing, wings look to be i...",Central,Unknown,Wild Bird,2105885,NaN,NaN,NaN,NaN
88364,Rescue fox cub - caller has a hole in wall whe...,Unknown,Unknown,Fox,Fox,2107397,NaN,NaN,NaN
91823,Rescue young owls - *possibly only advice* ver...,Unknown,Unknown,Owl,Owl,2116736,NaN,NaN,NaN
94412,Advise call - Caller advised she saw signs thi...,Central,Unknown,Deer,unsure of type of deer in woods. Also advised ...,Central,31:21.9,Deer,2122586.0
95142,HFM Nest Destruction - Today (18/5/18) a tree ...,Edinburgh,2018-05-18 00:00:00,Unknown,2124013,NaN,NaN,NaN,NaN
96115,Larsen Trap - **caller passed area on train - ...,Unknown,Unknown,Wild Bird,Wild Bird,2125796,NaN,NaN,NaN
98692,"Inj rabbit - leg looks wet""",Central,Unknown,Rabbit,2130471,NaN,NaN,NaN,NaN
101056,"Inj squirrel - caller can see marks on body""",Unknown,Unknown,Squirrel,24:12.5,Squirrel,2134822,NaN,NaN
101501,"Poss inj hedgehog - been running around"" the b...",Aberdeen,Unknown,Hedgehog,2135557,NaN,NaN,NaN,NaN
101802,HFD Neg Animals - Animal Rescue Charity - New ...,Unknown,Unknown,*Other Wildlife,*Other Wildlife,2136152,NaN,NaN,NaN
102499,Poss inj bird - no obvious injuries but caller...,Aberdeen,Unknown,Wild Bird,2137387,NaN,NaN,NaN,NaN
105135,Rescue fledgling - please see linked - caller ...,Edinburgh,Unknown,Fledgling,Edinburgh,19:38.8,Fledgling,2141802,NaN
108094,"Seagull fledgling - grey & fluffy, described a...",Aberdeen,Unknown,Gull,2146337,NaN,NaN,NaN,NaN
111382,"Rescue/Sick - Swans, caller thinks has pink fe...",Unknown,Unknown,Swan,03:01.8,Swan,2151814,NaN,NaN
115169,"Rescue fledgling gull - found inside garden, c...",Central,Unknown,Fledgling,2158015,NaN,NaN,NaN,NaN
122180,"Rescued hoglet - very small, about 4",Central,Unknown,Hedgehog,2170302,NaN,NaN,NaN,NaN
127970,Rescue fledgling - caller found fledgling drow...,Aberdeen,Unknown,Fledgling,2181113,NaN,NaN,NaN,NaN
132941,"Inj bird - wing doesn't look right""",Glasgow,Unknown,Wild Bird,2190641,NaN,NaN,NaN,NaN
133290,"Inj - Seagull, thinks has 2 broken legs, is si...",Edinburgh,Unknown,Gull,2191296,NaN,NaN,NaN,NaN
135010,"Advice - Animal in the close, unsure what it i...",Glasgow,Unknown,*Other Wildlife,"looking for advice. """,Glasgow,49:49.8,*Other Wildlife,2194780.0
139708,"Rescue - Crow, very weak, making small huffing...",Aberdeen,Unknown,Wild Bird,Aberdeen,13:26.0,Wild Bird,2205425,NaN
139717,"Rescue - Rat, is stuck in the bowl"" cant climb...",Central,Unknown,Rat,2205468,NaN,NaN,NaN,NaN

In [35]:
wildlife_data.drop(columns = ['Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8'], inplace = True)

In [36]:
wildlife_data.head()

,CALL_DESCRIPTION,CALL_REGION,CALL_SAVED_TIME,CA_ANIMAL_TYPE
0,RTA young deer - panting heavily. possibly bee...,Central,2020-01-01 00:00:00,Deer
1,"RTA deer - possible broken back legs, bleeding.",Central,2020-01-01 00:00:00,Deer
2,"RTA duplicate, to linked call.",Central,2020-01-01 00:00:00,Deer
3,inj bird - Has found a bird with plastic netti...,Aberdeen,2020-01-01 00:00:00,Wild Bird
4,"Inj gull, caller said one wing appears broken ...",Central,2020-01-01 00:00:00,Gull

# Missing data

In [37]:
wildlife_data.isna().sum()
#there are 631 call description in all data 
#for call description i cannot make up injuries so requires to drop it
#client asks to concentrate on types of injuries which are in call_description column

CALL_DESCRIPTION      631
CALL_REGION         34639
CALL_SAVED_TIME         8
CA_ANIMAL_TYPE          2
dtype: int64

In [38]:
filtered_df_data = wildlife_data[wildlife_data['CALL_DESCRIPTION'].isnull()]
filtered_df_data
#only date and animal type are noted so data is useless for further data analysis

       CALL_DESCRIPTION CALL_REGION      CALL_SAVED_TIME   CA_ANIMAL_TYPE
226                 NaN         NaN  2020-01-04 00:00:00  *Other Wildlife
361                 NaN         NaN  2020-01-06 00:00:00  *Other Wildlife
3586                NaN         NaN  2020-02-15 00:00:00  *Other Wildlife
12302               NaN         NaN  2019-01-10 00:00:00        Fledgling
15449               NaN         NaN  2019-02-17 00:00:00        Fledgling
...                 ...         ...                  ...              ...
147304              NaN         NaN  2018-10-27 00:00:00        Fledgling
147306              NaN         NaN  2018-10-27 00:00:00        Fledgling
149443              NaN         NaN  2018-11-15 00:00:00        Fledgling
149579              NaN         NaN  2018-11-16 00:00:00              Fox
153081              NaN         NaN  2018-12-27 00:00:00        Fledgling

[631 rows x 4 columns]

In [39]:
wildlife_data_clean = wildlife_data[wildlife_data['CALL_DESCRIPTION'].notna()]

In [40]:
wildlife_data_clean.isna().sum()

CALL_DESCRIPTION        0
CALL_REGION         34009
CALL_SAVED_TIME         7
CA_ANIMAL_TYPE          1
dtype: int64

In [41]:
#check for call_region
filtered_df_data = wildlife_data_clean[wildlife_data_clean['CALL_REGION'].isnull()]
filtered_df_data

,CALL_DESCRIPTION,CALL_REGION,CALL_SAVED_TIME,CA_ANIMAL_TYPE
6,Dead fox,NaN,2020-01-01 00:00:00,Fox
7,New swan in the lake,NaN,2020-01-01 00:00:00,Swan
8,Caller has seen swan in area that is new to area.,NaN,2020-01-01 00:00:00,Swan
12,Badger sleeping,NaN,2020-01-01 00:00:00,Badger
20,dead fox not sick or inj,NaN,2020-01-01 00:00:00,Fox
...,...,...,...,...
153343,"res hedgehog, caller has had it a couple of da...",NaN,2018-12-31 00:00:00,Hedgehog
153345,Swan on small body of water. Will be unable to...,NaN,2018-12-31 00:00:00,Swan
153352,Juvenille swan - in callers garden. Quiet area...,NaN,2018-12-31 00:00:00,Swan
153355,Crow in his livingroom as it came down the chi...,NaN,2018-12-31 00:00:00,Wild Bird
153361,dead kestrel,NaN,2018-12-31 00:00:00,Wild Bird

In [42]:
wildlife_data_clean.fillna({
    'CALL_REGION': 'Unknown',
    'CALL_SAVED_TIME': 'Unknown',
    'CA_ANIMAL_TYPE': 'Unknown'}, inplace = True)

/usr/local/anaconda3/lib/python3.8/site-packages/pandas/core/series.py:4433: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [43]:
wildlife_data_clean.isna().sum()

CALL_DESCRIPTION    0
CALL_REGION         0
CALL_SAVED_TIME     0
CA_ANIMAL_TYPE      0
dtype: int64

In [44]:
wildlife_data_clean.shape

(152743, 4)

# Call description assigning

In [45]:
wildlife_data_clean.head()

,CALL_DESCRIPTION,CALL_REGION,CALL_SAVED_TIME,CA_ANIMAL_TYPE
0,RTA young deer - panting heavily. possibly bee...,Central,2020-01-01 00:00:00,Deer
1,"RTA deer - possible broken back legs, bleeding.",Central,2020-01-01 00:00:00,Deer
2,"RTA duplicate, to linked call.",Central,2020-01-01 00:00:00,Deer
3,inj bird - Has found a bird with plastic netti...,Aberdeen,2020-01-01 00:00:00,Wild Bird
4,"Inj gull, caller said one wing appears broken ...",Central,2020-01-01 00:00:00,Gull

In [46]:
wildlife_data_clean['CALL_DESCRIPTION'] = wildlife_data_clean['CALL_DESCRIPTION'].str.lower()

<ipython-input-46-8a26bcc6a64f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wildlife_data_clean['CALL_DESCRIPTION'] = wildlife_data_clean['CALL_DESCRIPTION'].str.lower()

In [47]:
wildlife_data_clean[['reason_for_call', 'type_of_calls']] = None

<ipython-input-47-0ad6998e34a7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wildlife_data_clean[['reason_for_call', 'type_of_calls']] = None
/usr/local/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1719: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [48]:
wildlife_data_clean.loc[15070,'CALL_DESCRIPTION']

'take buzzard to laurencekirk to meet with aro zoe paul to hand over'

In [49]:
import re
import numpy as np

In [50]:
key_words = ['broken', 'cut', 'wounded', 'lying', 'neck', 'pup', '[Ll]eg', 'flew', '[Rr]escue', 'living', 'panting',
               'wound', 'wing', '[Dd]uplicate', 'netting', 'laying', '[Nn]ew', '[Dd]ead', 'paw', 'sleeping', '[Ss]ick',
               'bleeding', '[Ii]nj', '[Rr]es', 'beach', 'fly', 'flightless', 'garden', 'loft', '[Cc]atted', '[Dd]eceased',
            'fledgling', 'carpark', '[Tt]rapped', '[Tt]ransport', 'RTA', 'stuck', '[Pp]igeon', '[Cc]ollect', 'sitting',
            '[Ss]wan', 'enquire', 'police', '[Oo]ut', 'unwell', '[Mm]yxi', 'killed', 'advice', 'unable', 'shooting', 'remove',
            'looking', '[Pp]oisoned', 'side', 'hit', 'seen', 'mobile', 'attic', 'afraid', 'pest', 'lame', 'died', 'chimney',
            'fire', 'report', 'river', 'call', 'diarrhoea', 'removal', 'walls', '[Nn]est', 'wrong', '[Vv]et',
            'wall', '[Oo]wl', '[Ss]eal', '[Ss][Nn][Hh]', 'hallway', '[Ff]eral', 'wobbly', '[Rr][Tt][Aa]', '[fF]ox',
            'license', 'street','[Ss]tray', '[Ff]awn', 'missing', 'transfer', 'falling','ARO','heron','underneath',
            'adv', '[Dd][Uu][Pp]', 'playground','wondering','[Ff]ledgling', 'area', 'uplift', 'grass',
            'building', 'hatching','know', '[Ee]xhausted','run','flat', 'stove', 'tree','house','donation','[Aa]dvice',
            '[Cc]ygnet','shed','land','grate','vent','balcony','properly','rid','baiting','[Tt]ransfer',
            'ceiling','[Aa]dv','[Gg]rounded','pheasant','[Mm]agpie','window','pavement','trap','found','[Ll]one',
            'assistance','query','roof','wild','request','control','[Rr]obin','flue','chimeny','night','[Nn]eglected',
             '[Gg]oose','[Ss]tranded','[Nn]eglect','neg','[Bb]adger','[Gg]ull','kitchen','[Ss]tartled',
             'curled','stairwell','[Mm]artin','[Aa]ldi','handover','lum','close','how','[Mm]xy','walking','asking',
             '[Dd]aed', 'spotted','[Bb]aby','table','water','puffin','alive','harbour','crossing','road', 'queries',
             'bees','dying','rubbish','woodburner','not\\ moving','cupboard','floorboards','suffered','covered',
             'bedroom','fishcross','cruelty','hand\\ over','field'
             
             ]
key_pattern = r'(' + r'|'.join(key_words) + r')'

key_pattern

#'[Cc]leansing','[Nn]umber','[Cc]aller'

'(broken|cut|wounded|lying|neck|pup|[Ll]eg|flew|[Rr]escue|living|panting|wound|wing|[Dd]uplicate|netting|laying|[Nn]ew|[Dd]ead|paw|sleeping|[Ss]ick|bleeding|[Ii]nj|[Rr]es|beach|fly|flightless|garden|loft|[Cc]atted|[Dd]eceased|fledgling|carpark|[Tt]rapped|[Tt]ransport|RTA|stuck|[Pp]igeon|[Cc]ollect|sitting|[Ss]wan|enquire|police|[Oo]ut|unwell|[Mm]yxi|killed|advice|unable|shooting|remove|looking|[Pp]oisoned|side|hit|seen|mobile|attic|afraid|pest|lame|died|chimney|fire|report|river|call|diarrhoea|removal|walls|[Nn]est|wrong|[Vv]et|wall|[Oo]wl|[Ss]eal|[Ss][Nn][Hh]|hallway|[Ff]eral|wobbly|[Rr][Tt][Aa]|[fF]ox|license|street|[Ss]tray|[Ff]awn|missing|transfer|falling|ARO|heron|underneath|adv|[Dd][Uu][Pp]|playground|wondering|[Ff]ledgling|area|uplift|grass|building|hatching|know|[Ee]xhausted|run|flat|stove|tree|house|donation|[Aa]dvice|[Cc]ygnet|shed|land|grate|vent|balcony|properly|rid|baiting|[Tt]ransfer|ceiling|[Aa]dv|[Gg]rounded|pheasant|[Mm]agpie|window|pavement|trap|found|[Ll]one|assistance|query|roof|wild|request|control|[Rr]obin|flue|chimeny|night|[Nn]eglected|[Gg]oose|[Ss]tranded|[Nn]eglect|neg|[Bb]adger|[Gg]ull|kitchen|[Ss]tartled|curled|stairwell|[Mm]artin|[Aa]ldi|handover|lum|close|how|[Mm]xy|walking|asking|[Dd]aed|spotted|[Bb]aby|table|water|puffin|alive|harbour|crossing|road|queries|bees|dying|rubbish|woodburner|not\\ moving|cupboard|floorboards|suffered|covered|bedroom|fishcross|cruelty|hand\\ over|field)'

In [51]:
wildlife_data_clean['verb_inj']= wildlife_data_clean['CALL_DESCRIPTION'].str.extract(key_pattern)

<ipython-input-51-8c97dd692a70>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wildlife_data_clean['verb_inj']= wildlife_data_clean['CALL_DESCRIPTION'].str.extract(key_pattern)

In [52]:
wildlife_data_clean[wildlife_data_clean['verb_inj'].isnull()]
#only left descriptions which are unclear to me what they mean

,CALL_DESCRIPTION,CALL_REGION,CALL_SAVED_TIME,CA_ANIMAL_TYPE,reason_for_call,type_of_calls,verb_inj
1376,maria from caithness,Unknown,2020-01-18 00:00:00,Deer,None,None,NaN
1775,deer,Unknown,2020-01-23 00:00:00,Deer,None,None,NaN
1797,cancelled job,Unknown,2020-01-23 00:00:00,Fledgling,None,None,NaN
3007,bird in large store/still has flight,Unknown,2020-02-07 00:00:00,Wild Bird,None,None,NaN
3390,voicemail - only name & number left,Unknown,2020-02-13 00:00:00,Swan,None,None,NaN
...,...,...,...,...,...,...,...
151792,underweight hedgehog/contained,Aberdeen,2018-12-11 00:00:00,Hedgehog,None,None,NaN
151798,deer in the clyde.,Unknown,2018-12-11 00:00:00,Deer,None,None,NaN
151801,hedgehog under 600g/contained/,Edinburgh,2018-12-11 00:00:00,Hedgehog,None,None,NaN
152014,"small hedgehog - not curling up, quite small, ...",Central,2018-12-13 00:00:00,Hedgehog,None,None,NaN
152089,hedgehog weight,Unknown,2018-12-14 00:00:00,Hedgehog,None,None,NaN

In [53]:
wildlife_data_clean['verb_inj'] = wildlife_data_clean['verb_inj'].str.lower()

<ipython-input-53-1049da90985a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wildlife_data_clean['verb_inj'] = wildlife_data_clean['verb_inj'].str.lower()

In [54]:
conditions = [
    (wildlife_data_clean['verb_inj'] == 'inj'), (wildlife_data_clean['verb_inj'] == 'rta'),
    (wildlife_data_clean['verb_inj'] == 'dead'), (wildlife_data_clean['verb_inj'] == 'deceased'),
    (wildlife_data_clean['verb_inj'] == 'catted'), (wildlife_data_clean['verb_inj'] == 'poisoned'),
    (wildlife_data_clean['verb_inj'] == 'rescue'), (wildlife_data_clean['verb_inj'] == 'new'),
    (wildlife_data_clean['verb_inj'] == 'myxi'),(wildlife_data_clean['verb_inj'] == 'hallway'),
    (wildlife_data_clean['verb_inj'] == 'shooting'), (wildlife_data_clean['verb_inj'] == 'sitting'),
    (wildlife_data_clean['verb_inj'] == 'leg'), (wildlife_data_clean['verb_inj'] == 'nest'),
    (wildlife_data_clean['verb_inj'] == 'unwell'), (wildlife_data_clean['verb_inj'] == 'sick'),
    (wildlife_data_clean['verb_inj'] == 'seen'), (wildlife_data_clean['verb_inj'] == 'sleeping'),
    (wildlife_data_clean['verb_inj'] == 'seal'), (wildlife_data_clean['verb_inj'] == 'duplicate'),
    (wildlife_data_clean['verb_inj'] == 'swan'), (wildlife_data_clean['verb_inj'] == 'owl'),
    (wildlife_data_clean['verb_inj'] == 'flightless'), (wildlife_data_clean['verb_inj'] == 'garden'),
    (wildlife_data_clean['verb_inj'] == 'hit'), (wildlife_data_clean['verb_inj'] == 'fire'),
    (wildlife_data_clean['verb_inj'] == 'flew'), (wildlife_data_clean['verb_inj'] == 'trapped'),
    (wildlife_data_clean['verb_inj'] == 'call'), (wildlife_data_clean['verb_inj'] == 'collect'),
    (wildlife_data_clean['verb_inj'] == 'out'), (wildlife_data_clean['verb_inj'] == 'advice'),
    (wildlife_data_clean['verb_inj'] == 'pigeon'), (wildlife_data_clean['verb_inj'] == 'police'),
    (wildlife_data_clean['verb_inj'] == 'report'), (wildlife_data_clean['verb_inj'] == 'mobile'),
    (wildlife_data_clean['verb_inj'] == 'broken'), (wildlife_data_clean['verb_inj'] == 'res'),
    (wildlife_data_clean['verb_inj'] == 'attic'), (wildlife_data_clean['verb_inj'] == 'living'),
    (wildlife_data_clean['verb_inj'].isnull()), (wildlife_data_clean['verb_inj'] == 'beach'),
    (wildlife_data_clean['verb_inj'] == 'wing'), (wildlife_data_clean['verb_inj'] == 'stuck'),
    (wildlife_data_clean['verb_inj'] == 'side'), (wildlife_data_clean['verb_inj'] == 'looking'),
    (wildlife_data_clean['verb_inj'] == 'lame'), (wildlife_data_clean['verb_inj'] == 'pest'),
    (wildlife_data_clean['verb_inj'] == 'loft'), (wildlife_data_clean['verb_inj'] == 'fly'),
    (wildlife_data_clean['verb_inj'] == 'chimney'), (wildlife_data_clean['verb_inj'] == 'lying'),
    (wildlife_data_clean['verb_inj'] == 'diarrhoea'), (wildlife_data_clean['verb_inj'] == 'stray'),
    (wildlife_data_clean['verb_inj'] == 'vet'), (wildlife_data_clean['verb_inj'] == 'fox'),
    (wildlife_data_clean['verb_inj'] == 'aro'), (wildlife_data_clean['verb_inj'] == 'transfer'),
    (wildlife_data_clean['verb_inj'] == 'wall'), (wildlife_data_clean['verb_inj'] == 'neck'),
    (wildlife_data_clean['verb_inj'] == 'cut'), (wildlife_data_clean['verb_inj'] == 'remove'),
    (wildlife_data_clean['verb_inj'] == 'street'), (wildlife_data_clean['verb_inj'] == 'removal'),
    (wildlife_data_clean['verb_inj'] == 'killed'), (wildlife_data_clean['verb_inj'] == 'bleeding'),
    (wildlife_data_clean['verb_inj'] == 'walls'), (wildlife_data_clean['verb_inj'] == 'unable'),
    (wildlife_data_clean['verb_inj'] == 'laying'), (wildlife_data_clean['verb_inj'] == 'license'),
    (wildlife_data_clean['verb_inj'] == 'wrong'), (wildlife_data_clean['verb_inj'] == 'river'),
    (wildlife_data_clean['verb_inj'] == 'paw'), (wildlife_data_clean['verb_inj'] == 'pup'),
    (wildlife_data_clean['verb_inj'] == 'fawn'), (wildlife_data_clean['verb_inj'] == 'wound'),
    (wildlife_data_clean['verb_inj'] == 'missing'), (wildlife_data_clean['verb_inj'] == 'snh'),
    (wildlife_data_clean['verb_inj'] == 'netting'), (wildlife_data_clean['verb_inj'] == 'feral'),
    (wildlife_data_clean['verb_inj'] == 'falling'), (wildlife_data_clean['verb_inj'] == 'afraid'),
    (wildlife_data_clean['verb_inj'] == 'wobbly'), (wildlife_data_clean['verb_inj'] == 'panting'),
    (wildlife_data_clean['verb_inj'] == 'carpark'), (wildlife_data_clean['verb_inj'] == 'fledgling'),
    (wildlife_data_clean['verb_inj'] == 'transport'),(wildlife_data_clean['verb_inj'] == 'feral'),
    (wildlife_data_clean['verb_inj'] == 'ceiling'),(wildlife_data_clean['verb_inj'] == 'hallway'),
    (wildlife_data_clean['verb_inj'] == 'flue'),(wildlife_data_clean['verb_inj'] == 'afraid'),
    (wildlife_data_clean['verb_inj'] == 'stairwell'),(wildlife_data_clean['verb_inj'] == 'handover'),
    (wildlife_data_clean['verb_inj'] == 'died'),(wildlife_data_clean['verb_inj'] == 'puffin'),
    (wildlife_data_clean['verb_inj'] == 'startled'),(wildlife_data_clean['verb_inj'] == 'flat'),
    (wildlife_data_clean['verb_inj'] == 'daed'),(wildlife_data_clean['verb_inj'] == 'underneath'),
    (wildlife_data_clean['verb_inj'] == 'curled'),(wildlife_data_clean['verb_inj'] == 'spotted'),
    (wildlife_data_clean['verb_inj'] == 'dying'),(wildlife_data_clean['verb_inj'] == 'baiting'),
    (wildlife_data_clean['verb_inj'] == 'pavement'),(wildlife_data_clean['verb_inj'] == 'lum'),
    (wildlife_data_clean['verb_inj'] == 'dup'),(wildlife_data_clean['verb_inj'] == 'badger'),
    (wildlife_data_clean['verb_inj'] == 'stranded'),(wildlife_data_clean['verb_inj'] == 'found'),
    (wildlife_data_clean['verb_inj'] == 'cygnet'),(wildlife_data_clean['verb_inj'] == 'alive'),
    (wildlife_data_clean['verb_inj'] == 'land'),(wildlife_data_clean['verb_inj'] == 'goose'),
    (wildlife_data_clean['verb_inj'] == 'adv'),(wildlife_data_clean['verb_inj'] == 'neg'),
    (wildlife_data_clean['verb_inj'] == 'road'),(wildlife_data_clean['verb_inj'] == 'lone'),
    (wildlife_data_clean['verb_inj'] == 'uplift'),(wildlife_data_clean['verb_inj'] == 'cruelty'),
    (wildlife_data_clean['verb_inj'] == 'assistance'),(wildlife_data_clean['verb_inj'] == 'neglect'),
    (wildlife_data_clean['verb_inj'] == 'field'),(wildlife_data_clean['verb_inj'] == 'wild'),
    (wildlife_data_clean['verb_inj'] == 'gull'),(wildlife_data_clean['verb_inj'] == 'grass'),
    (wildlife_data_clean['verb_inj'] == 'bedroom'),(wildlife_data_clean['verb_inj'] == 'heron'),
    (wildlife_data_clean['verb_inj'] == 'request'),(wildlife_data_clean['verb_inj'] == 'walking'),
    (wildlife_data_clean['verb_inj'] == 'exhausted'),(wildlife_data_clean['verb_inj'] == 'area'),
    (wildlife_data_clean['verb_inj'] == 'night'),(wildlife_data_clean['verb_inj'] == 'grounded'),
    (wildlife_data_clean['verb_inj'] == 'run'),(wildlife_data_clean['verb_inj'] == 'tree'),
    (wildlife_data_clean['verb_inj'] == 'query'),(wildlife_data_clean['verb_inj'] == 'playground'),
    (wildlife_data_clean['verb_inj'] == 'robin'),(wildlife_data_clean['verb_inj'] == 'house'),
    (wildlife_data_clean['verb_inj'] == 'donation'),(wildlife_data_clean['verb_inj'] == 'building'),
    (wildlife_data_clean['verb_inj'] == 'wondering'),(wildlife_data_clean['verb_inj'] == 'pheasant'),
    (wildlife_data_clean['verb_inj'] == 'neglected'),(wildlife_data_clean['verb_inj'] == 'fishcross'),
    (wildlife_data_clean['verb_inj'] == 'close'),(wildlife_data_clean['verb_inj'] == 'stove'),
    (wildlife_data_clean['verb_inj'] == 'not moving'),(wildlife_data_clean['verb_inj'] == 'window'),
    (wildlife_data_clean['verb_inj'] == 'trap'),(wildlife_data_clean['verb_inj'] == 'magpie'),
    (wildlife_data_clean['verb_inj'] == 'balcony'),(wildlife_data_clean['verb_inj'] == 'how'),
    (wildlife_data_clean['verb_inj'] == 'vent'),(wildlife_data_clean['verb_inj'] == 'crossing'),
    (wildlife_data_clean['verb_inj'] == 'roof'), (wildlife_data_clean['verb_inj'] == 'mxy'),
    (wildlife_data_clean['verb_inj'] == 'baby'),(wildlife_data_clean['verb_inj'] == 'shed'),
    (wildlife_data_clean['verb_inj'] == 'asking'),(wildlife_data_clean['verb_inj'] == 'grate'),
    (wildlife_data_clean['verb_inj'] == 'hand over'),(wildlife_data_clean['verb_inj'] == 'chimeny'),
    (wildlife_data_clean['verb_inj'] == 'kitchen'),(wildlife_data_clean['verb_inj'] == 'covered'),
    (wildlife_data_clean['verb_inj'] == 'martin'),(wildlife_data_clean['verb_inj'] == 'water'),
    (wildlife_data_clean['verb_inj'] == 'table'), (wildlife_data_clean['verb_inj'] == 'harbour'),
     (wildlife_data_clean['verb_inj'] == 'bees'), (wildlife_data_clean['verb_inj'] == 'know'),
     (wildlife_data_clean['verb_inj'] == 'rid'),(wildlife_data_clean['verb_inj'] == 'rubbish'),
    (wildlife_data_clean['verb_inj'] == 'hatching'),(wildlife_data_clean['verb_inj'] == 'cupboard'),
    (wildlife_data_clean['verb_inj'] == 'floorboards'),(wildlife_data_clean['verb_inj'] == 'woodburner'),
    (wildlife_data_clean['verb_inj'] == 'queries'), (wildlife_data_clean['verb_inj'] == 'suffered')


    ]
choices = ['injury', 'rescue','dead','dead','injury','cruel_behavior', 'rescue', 'unclear', 'disease', 'location_notice',
           'cruel_behavior','location_notice','injury', 'location_notice', 'unwell', 'unwell','location_notice',
           'location_notice','unclear', 'injury','unclear','unclear','injury','location_notice','injury','location_notice',
          'injury', 'rescue', 'unclear','location_notice','unclear','advice','unclear','unclear','unclear','injury',
          'injury','rescue','location_notice','injury','unclear','location_notice','injury','rescue','injury',
          'location_notice','injury','unclear','location_notice','injury','location_notice','dead',
          'unwell','location_notice','advice','unclear','rescue','location_notice','injury','injury','injury',
          'unclear','location_notice','unclear','dead','injury','rescue','injury','injury','cruel_behavior',
          'unclear','location_notice','injury','injury','location_notice','injury','location_notice','advice',
          'rescue','location_notice','injury','unclear','unwell','unwell','location_notice', 'location_notice',
          'location_notice','location_notice','location_notice','location_notice','rescue','location_notice',
          'location_notice','location_notice','dead','unclear','rescue','location_notice','dead',
          'location_notice','rescue','location_notice','dead','cruel_behavior','location_notice','rescue',
          'injury','location_notice','rescue','location_notice','location_notice','rescue',
          'location_notice','rescue','advice','cruel_behavior','rescue','location_notice','location_notice',
          'cruel_behavior','advice','cruel_behavior','location_notice','location_notice','location_notice',
           'location_notice','rescue','location_notice','unclear','location_notice','unwell','location_notice',
           'location_notice','rescue','rescue','location_notice','advice','location_notice','location_notice',
           'rescue','advice','rescue','advice','location_notice','cruel_behavior','location_notice',
           'location_notice','rescue','dead','location_notice','rescue','injury','location_notice','advice',
           'rescue','location_notice','rescue','disease','rescue','location_notice','advice','rescue',
           'location_notice','rescue','rescue','unwell','location_notice','location_notice','rescue',
           'location_notice','unclear','advice','rescue','cruel_behavior','rescue','rescue','rescue','rescue',
           'advice','disease'
]

wildlife_data_clean['reason_for_call'] = np.select(conditions, choices)

<ipython-input-54-be1aeb69bdbc>:121: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wildlife_data_clean['reason_for_call'] = np.select(conditions, choices)

In [55]:
wildlife_data_clean['verb_inj'].unique()

array(['rta', 'inj', 'dead', 'new', 'call', 'badger', 'stranded', 'sick',
       'rescue', 'duplicate', 'fledgling', 'swan', 'owl', 'catted',
       'flightless', 'garden', 'carpark', 'seal', 'deceased', 'transport',
       'hit', 'flew', 'trapped', 'cygnet', 'collect', 'myxi', 'found',
       'pigeon', 'res', 'alive', 'mobile', 'dup', 'fire', 'land',
       'sitting', 'netting', 'out', 'goose', 'adv', 'neg', 'cruelty',
       'advice', 'attic', 'shooting', 'assistance', 'poisoned', 'side',
       'looking', 'uplift', 'lame', 'living', 'pest', 'loft', 'neglect',
       'chimney', 'lying', 'diarrhoea', 'lone', 'stray', 'vet', 'fly',
       'bedroom', 'transfer', 'heron', 'fox', 'request', 'walking', 'run',
       'nest', nan, 'tree', 'report', 'leg', 'wall', 'query',
       'playground', 'wondering', 'pheasant', 'wild', 'building', 'gull',
       'stove', 'not moving', 'trap', 'stuck', 'neck', 'magpie', 'police',
       'balcony', 'flat', 'seen', 'how', 'donation', 'close', 'grounded',
       'spotted', 'fishcross', 'vent', 'removal', 'crossing', 'robin',
       'roof', 'field', 'grass', 'killed', 'mxy', 'baby', 'bleeding',
       'flue', 'house', 'window', 'shed', 'beach', 'asking', 'walls',
       'neglected', 'chimeny', 'wrong', 'kitchen', 'laying', 'road',
       'stairwell', 'broken', 'lum', 'covered', 'pup', 'ceiling', 'area',
       'remove', 'night', 'water', 'table', 'missing', 'harbour', 'bees',
       'queries', 'street', 'exhausted', 'dying', 'wing', 'rubbish',
       'woodburner', 'river', 'fawn', 'rid', 'floorboards', 'hand over',
       'unable', 'cupboard', 'snh', 'license', 'unwell', 'suffered',
       'know', 'underneath', 'pavement', 'martin', 'sleeping', 'curled',
       'hatching', 'falling', 'baiting', 'daed', 'cut', 'startled',
       'died', 'wobbly', 'wound', 'paw', 'grate', 'panting', 'puffin',
       'handover', 'afraid', 'hallway', 'feral'], dtype=object)

In [56]:
wildlife_data_clean[wildlife_data_clean['reason_for_call'] == '0']
#check that non assigned left

Empty DataFrame
Columns: [CALL_DESCRIPTION, CALL_REGION, CALL_SAVED_TIME, CA_ANIMAL_TYPE, reason_for_call, type_of_calls, verb_inj]
Index: []

In [57]:
wildlife_data_clean['reason_for_call'].unique()
#check that there are no other strange categories due to misspelling

array(['rescue', 'injury', 'dead', 'unclear', 'location_notice', 'unwell',
       'disease', 'advice', 'cruel_behavior'], dtype=object)

In [60]:
#split calls into two categories - advice and report
wildlife_data_clean.loc[:,'type_of_calls']= np.where(wildlife_data_clean['reason_for_call'] == 'advice', 'advice_calls','report_calls')

/usr/local/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1842: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item_labels[indexer[info_axis]]] = value

In [61]:
wildlife_data_clean.head()

,CALL_DESCRIPTION,CALL_REGION,CALL_SAVED_TIME,CA_ANIMAL_TYPE,reason_for_call,type_of_calls,verb_inj
0,rta young deer - panting heavily. possibly bee...,Central,2020-01-01 00:00:00,Deer,rescue,report_calls,rta
1,"rta deer - possible broken back legs, bleeding.",Central,2020-01-01 00:00:00,Deer,rescue,report_calls,rta
2,"rta duplicate, to linked call.",Central,2020-01-01 00:00:00,Deer,rescue,report_calls,rta
3,inj bird - has found a bird with plastic netti...,Aberdeen,2020-01-01 00:00:00,Wild Bird,injury,report_calls,inj
4,"inj gull, caller said one wing appears broken ...",Central,2020-01-01 00:00:00,Gull,injury,report_calls,inj

# Fixing other columns

## Animal type

In [62]:
#requires cleaning
wildlife_data_clean['CA_ANIMAL_TYPE'].unique()

array(['Deer', 'Wild Bird', 'Gull', 'Fox', 'Swan', 'Badger', 'Seal',
       'Hedgehog', 'Duck', 'Owl', 'Goose', 'Fledgling', 'Squirrel',
       'Wild Mouse', 'Wild Rabbit', '*Other Wildlife', 'Stoat', 'Weasel',
       'Snake', 'Bat', 'Otter', 'Nestling', '00:48.0', 'Spider', 'Frog',
       '40:53.9', 'Turtle', '33:11.9', 'Fish', '00:52.5', '54:32.5',
       '58:10.1', 'Unknown', '36:04.1', '32:08.9', '06:31.3', '06:17.4',
       '05:30.1', '06:45.1', '23:05.2', '53:00.8', '22:58.9', '24:09.7',
       '12:22.9', '10:28.4', 'Rabbit', '20:12.5', '38:32.5', '04:19.7',
       '24:26.3', '49:53.7', '56:13.6', '05:10.9', '51:45.4', '30:50.4',
       '21:17.0', 'No Animal', '02:36.3', '34:14.9', '52:40.6', '51:34.5',
       '31:24.8', '55:31.8', '17:09.3', '00:48.8', 'Rat', '59:43.1',
       '29:34.2', '32:10.6'], dtype=object)

In [63]:
wildlife_data_clean[wildlife_data_clean['CA_ANIMAL_TYPE']=='53:00.8']
#looks like data is shifted and requires fixes

,CALL_DESCRIPTION,CALL_REGION,CALL_SAVED_TIME,CA_ANIMAL_TYPE,reason_for_call,type_of_calls,verb_inj
89628,"catted nestling - cat was playing"" with it",small scratch on the skin. Bird still bald wit...,Edinburgh,53:00.8,injury,report_calls,catted

In [64]:
wildlife_data_clean.loc[1358,'CALL_REGION'] = 'Central'
wildlife_data_clean.loc[1358,'CA_ANIMAL_TYPE'] = 'Wild Bird'
wildlife_data_clean.loc[1358,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_data_clean.loc[4163,'CALL_REGION'] = 'Glasgow'
wildlife_data_clean.loc[4163,'CA_ANIMAL_TYPE'] = 'Wild Bird'
wildlife_data_clean.loc[4163,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_data_clean.loc[5878,'CALL_REGION'] = 'Central'
wildlife_data_clean.loc[5878,'CA_ANIMAL_TYPE'] = 'Wild Bird'
wildlife_data_clean.loc[5878,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_data_clean.loc[65134,'CALL_REGION'] = 'Unknown'
wildlife_data_clean.loc[65134,'CA_ANIMAL_TYPE'] = 'Hedgehog'
wildlife_data_clean.loc[65134,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_data_clean.loc[71459,'CALL_REGION'] = 'Edinburgh'
wildlife_data_clean.loc[71459,'CA_ANIMAL_TYPE'] = 'Hedgehog'
wildlife_data_clean.loc[71459,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_data_clean.loc[72388,'CALL_REGION'] = 'Aberdeen'
wildlife_data_clean.loc[72388,'CA_ANIMAL_TYPE'] = 'Hedgehog'
wildlife_data_clean.loc[72388,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_data_clean.loc[80218,'CALL_REGION'] = 'Edinburgh'
wildlife_data_clean.loc[80218,'CA_ANIMAL_TYPE'] = 'Fox'
wildlife_data_clean.loc[80218,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_data_clean.loc[80765,'CALL_REGION'] = 'Central'
wildlife_data_clean.loc[80765,'CA_ANIMAL_TYPE'] = 'Swan'
wildlife_data_clean.loc[80765,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_data_clean.loc[81865,'CALL_REGION'] = 'Central'
wildlife_data_clean.loc[81865,'CA_ANIMAL_TYPE'] = 'Fledgling'
wildlife_data_clean.loc[81865,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_data_clean.loc[82612,'CALL_REGION'] = 'Unknown'
wildlife_data_clean.loc[82612,'CA_ANIMAL_TYPE'] = 'Swan'
wildlife_data_clean.loc[82612,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_data_clean.loc[83043,'CALL_REGION'] = 'Aberdeen'
wildlife_data_clean.loc[83043,'CA_ANIMAL_TYPE'] = 'Seal'
wildlife_data_clean.loc[83043,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_data_clean.loc[83970,'CALL_REGION'] = 'Unknown'
wildlife_data_clean.loc[83970,'CA_ANIMAL_TYPE'] = 'Gull'
wildlife_data_clean.loc[83970,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_data_clean.loc[88721,'CALL_REGION'] = 'Central'
wildlife_data_clean.loc[88721,'CA_ANIMAL_TYPE'] = 'Duck'
wildlife_data_clean.loc[88721,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_data_clean.loc[89628,'CALL_REGION'] = 'Edinburgh'
wildlife_data_clean.loc[89628,'CA_ANIMAL_TYPE'] = 'Nestling'
wildlife_data_clean.loc[89628,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_data_clean.loc[95060,'CALL_REGION'] = 'Glasgow'
wildlife_data_clean.loc[95060,'CA_ANIMAL_TYPE'] = 'Wild Bird'
wildlife_data_clean.loc[95060,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_data_clean.loc[97049,'CALL_REGION'] = 'Glasgow'
wildlife_data_clean.loc[97049,'CA_ANIMAL_TYPE'] = 'Deer'
wildlife_data_clean.loc[97049,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_data_clean.loc[97631,'CALL_REGION'] = 'Glasgow'
wildlife_data_clean.loc[97631,'CA_ANIMAL_TYPE'] = 'Unknown'
wildlife_data_clean.loc[97631,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_data_clean.loc[98596,'CALL_REGION'] = 'Aberdeen'
wildlife_data_clean.loc[98596,'CA_ANIMAL_TYPE'] = 'Fledgling'
wildlife_data_clean.loc[98596,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_data_clean.loc[100283,'CALL_REGION'] = 'Inverness'
wildlife_data_clean.loc[100283,'CA_ANIMAL_TYPE'] = 'Bat'
wildlife_data_clean.loc[100283,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_data_clean.loc[101717,'CALL_REGION'] = 'Unknown'
wildlife_data_clean.loc[101717,'CA_ANIMAL_TYPE'] = 'Fledgling'
wildlife_data_clean.loc[101717,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_data_clean.loc[103067,'CALL_REGION'] = 'Aberdeen'
wildlife_data_clean.loc[103067,'CA_ANIMAL_TYPE'] = 'Fledgling'
wildlife_data_clean.loc[103067,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_data_clean.loc[105287,'CALL_REGION'] = 'Glasgow'
wildlife_data_clean.loc[105287,'CA_ANIMAL_TYPE'] = 'Wild Bird'
wildlife_data_clean.loc[105287,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_data_clean.loc[105580,'CALL_REGION'] = 'Aberdeen'
wildlife_data_clean.loc[105580,'CA_ANIMAL_TYPE'] = 'Fledgling'
wildlife_data_clean.loc[105580,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_data_clean.loc[105626,'CALL_REGION'] = 'Glasgow'
wildlife_data_clean.loc[105626,'CA_ANIMAL_TYPE'] = 'Swan'
wildlife_data_clean.loc[105626,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_data_clean.loc[106953,'CALL_REGION'] = 'Central'
wildlife_data_clean.loc[106953,'CA_ANIMAL_TYPE'] = 'Fledgling'
wildlife_data_clean.loc[106953,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_data_clean.loc[107294,'CALL_REGION'] = 'Edinburgh'
wildlife_data_clean.loc[107294,'CA_ANIMAL_TYPE'] = 'Nestling'
wildlife_data_clean.loc[107294,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_data_clean.loc[107849,'CALL_REGION'] = 'Glasgow'
wildlife_data_clean.loc[107849,'CA_ANIMAL_TYPE'] = 'Wild Bird'
wildlife_data_clean.loc[107849,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_data_clean.loc[108976,'CALL_REGION'] = 'Glasgow'
wildlife_data_clean.loc[108976,'CA_ANIMAL_TYPE'] = 'Gull'
wildlife_data_clean.loc[108976,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_data_clean.loc[116605,'CALL_REGION'] = 'Unknown'
wildlife_data_clean.loc[116605,'CA_ANIMAL_TYPE'] = 'Unknown'
wildlife_data_clean.loc[116605,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_data_clean.loc[117133,'CALL_REGION'] = 'Glasgow'
wildlife_data_clean.loc[117133,'CA_ANIMAL_TYPE'] = 'Wild Bird'
wildlife_data_clean.loc[117133,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_data_clean.loc[122932,'CALL_REGION'] = 'Glasgow'
wildlife_data_clean.loc[122932,'CA_ANIMAL_TYPE'] = 'Wild Bird'
wildlife_data_clean.loc[122932,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_data_clean.loc[123230,'CALL_REGION'] = 'Glasgow'
wildlife_data_clean.loc[123230,'CA_ANIMAL_TYPE'] = 'Fledgling'
wildlife_data_clean.loc[123230,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_data_clean.loc[125976,'CALL_REGION'] = 'Central'
wildlife_data_clean.loc[125976,'CA_ANIMAL_TYPE'] = 'Wild Bird'
wildlife_data_clean.loc[125976,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_data_clean.loc[126070,'CALL_REGION'] = 'Inverness'
wildlife_data_clean.loc[126070,'CA_ANIMAL_TYPE'] = 'Fledgling'
wildlife_data_clean.loc[126070,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_data_clean.loc[126202,'CALL_REGION'] = 'Central'
wildlife_data_clean.loc[126202,'CA_ANIMAL_TYPE'] = 'Unknown'
wildlife_data_clean.loc[126202,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_data_clean.loc[131319,'CALL_REGION'] = 'Glasgow'
wildlife_data_clean.loc[131319,'CA_ANIMAL_TYPE'] = 'Squirrel'
wildlife_data_clean.loc[131319,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_data_clean.loc[136952,'CALL_REGION'] = 'Aberdeen'
wildlife_data_clean.loc[136952,'CA_ANIMAL_TYPE'] = 'Unknown'
wildlife_data_clean.loc[136952,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_data_clean.loc[142952,'CALL_REGION'] = 'Unknown'
wildlife_data_clean.loc[142952,'CA_ANIMAL_TYPE'] = 'Unknown'
wildlife_data_clean.loc[142952,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_data_clean.loc[143992,'CALL_REGION'] = 'Aberdeen'
wildlife_data_clean.loc[143992,'CA_ANIMAL_TYPE'] = 'Wild Bird'
wildlife_data_clean.loc[143992,'CALL_SAVED_TIME'] = 'Unknown'

wildlife_data_clean.loc[145845,'CALL_REGION'] = 'Unknown'
wildlife_data_clean.loc[145845,'CA_ANIMAL_TYPE'] = 'Gull'
wildlife_data_clean.loc[145845,'CALL_SAVED_TIME'] = 'Unknown'

/usr/local/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/usr/local/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:691: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

In [65]:
wildlife_data_clean.loc[wildlife_data_clean['CA_ANIMAL_TYPE'].isin(['Deer', 'Wild Bird', 'Gull', 'Fox','Swan', 'Badger', 'Seal',
       'Hedgehog', 'Duck', 'Owl', 'Goose', 'Fledgling', 'Squirrel',
       'Wild Mouse', 'Wild Rabbit', '*Other Wildlife', 'Stoat', 'Weasel',
       'Snake', 'Bat', 'Otter', 'Nestling', 'Spider', 'Frog',
       'Turtle',  'Fish', 'Rabbit','Unknown', 'Rat'])]

,CALL_DESCRIPTION,CALL_REGION,CALL_SAVED_TIME,CA_ANIMAL_TYPE,reason_for_call,type_of_calls,verb_inj
0,rta young deer - panting heavily. possibly bee...,Central,2020-01-01 00:00:00,Deer,rescue,report_calls,rta
1,"rta deer - possible broken back legs, bleeding.",Central,2020-01-01 00:00:00,Deer,rescue,report_calls,rta
2,"rta duplicate, to linked call.",Central,2020-01-01 00:00:00,Deer,rescue,report_calls,rta
3,inj bird - has found a bird with plastic netti...,Aberdeen,2020-01-01 00:00:00,Wild Bird,injury,report_calls,inj
4,"inj gull, caller said one wing appears broken ...",Central,2020-01-01 00:00:00,Gull,injury,report_calls,inj
...,...,...,...,...,...,...,...
153369,injured swan - call from scottish power engine...,Central,2018-12-31 00:00:00,Swan,injury,report_calls,inj
153370,"inj pigeon - bad wound on its chest, contained.",Glasgow,2018-12-31 00:00:00,Wild Bird,injury,report_calls,inj
153371,"inj seagull - limping and wing inj, caller wil...",Aberdeen,2018-12-31 00:00:00,Wild Bird,injury,report_calls,inj
153372,inj pigeon - pigeon not able to fly now and fo...,Glasgow,2018-12-31 00:00:00,Wild Bird,injury,report_calls,inj
153373,poss inj pigeon - been in garden all day. no o...,Edinburgh,2018-12-31 00:00:00,Wild Bird,injury,report_calls,inj

In [66]:
wildlife_data_clean['CA_ANIMAL_TYPE'].unique()
#now it is clean

array(['Deer', 'Wild Bird', 'Gull', 'Fox', 'Swan', 'Badger', 'Seal',
       'Hedgehog', 'Duck', 'Owl', 'Goose', 'Fledgling', 'Squirrel',
       'Wild Mouse', 'Wild Rabbit', '*Other Wildlife', 'Stoat', 'Weasel',
       'Snake', 'Bat', 'Otter', 'Nestling', 'Spider', 'Frog', 'Turtle',
       'Fish', 'Unknown', 'Rabbit', 'Rat'], dtype=object)

## Call region

In [67]:
wildlife_data_clean['CALL_REGION'].unique()
#fledgling in region?

array(['Central', 'Aberdeen', 'Edinburgh', 'Unknown', 'Glasgow',
       'Inverness', 'Fledgling'], dtype=object)

In [68]:
wildlife_data_clean[wildlife_data_clean['CALL_REGION']=='Fledgling']

,CALL_DESCRIPTION,CALL_REGION,CALL_SAVED_TIME,CA_ANIMAL_TYPE,reason_for_call,type_of_calls,verb_inj
80820,poss inj bird - caller advised there are thick...,Fledgling,Unknown,Wild Bird,injury,report_calls,inj

In [69]:
wildlife_data_clean.loc[80820,'CALL_REGION'] = 'Unknown'
wildlife_data_clean.loc[80820,'CA_ANIMAL_TYPE'] = 'Wild Bird'
wildlife_data_clean.loc[80820,'CALL_SAVED_TIME'] = 'Unknown'

/usr/local/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/usr/local/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:691: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

In [70]:
wildlife_data_clean.loc[80820,:]

CALL_DESCRIPTION    poss inj bird - caller advised there are thick...
CALL_REGION                                                   Unknown
CALL_SAVED_TIME                                               Unknown
CA_ANIMAL_TYPE                                              Wild Bird
reason_for_call                                                injury
type_of_calls                                            report_calls
verb_inj                                                          inj
Name: 80820, dtype: object

In [71]:
wildlife_data_clean['CALL_REGION'].unique()
#looks better now

array(['Central', 'Aberdeen', 'Edinburgh', 'Unknown', 'Glasgow',
       'Inverness'], dtype=object)

## Call time

In [72]:
wildlife_data_clean['CALL_SAVED_TIME'].unique()

array([datetime.datetime(2020, 1, 1, 0, 0),
       datetime.datetime(2020, 1, 2, 0, 0),
       datetime.datetime(2020, 1, 3, 0, 0),
       datetime.datetime(2020, 1, 4, 0, 0),
       datetime.datetime(2020, 1, 5, 0, 0),
       datetime.datetime(2020, 1, 6, 0, 0),
       datetime.datetime(2020, 1, 7, 0, 0),
       datetime.datetime(2020, 1, 8, 0, 0),
       datetime.datetime(2020, 1, 9, 0, 0),
       datetime.datetime(2020, 1, 10, 0, 0),
       datetime.datetime(2020, 1, 11, 0, 0),
       datetime.datetime(2020, 1, 12, 0, 0),
       datetime.datetime(2020, 1, 13, 0, 0),
       datetime.datetime(2020, 1, 14, 0, 0),
       datetime.datetime(2020, 1, 15, 0, 0),
       datetime.datetime(2020, 1, 16, 0, 0),
       datetime.datetime(2020, 1, 17, 0, 0),
       datetime.datetime(2020, 1, 18, 0, 0), 'Unknown',
       datetime.datetime(2020, 1, 19, 0, 0),
       datetime.datetime(2020, 1, 20, 0, 0),
       datetime.datetime(2020, 1, 21, 0, 0),
       datetime.datetime(2020, 1, 22, 0, 0),
       datetime.datetime(2020, 1, 23, 0, 0),
       datetime.datetime(2020, 1, 24, 0, 0),
       datetime.datetime(2020, 1, 25, 0, 0),
       datetime.datetime(2020, 1, 26, 0, 0),
       datetime.datetime(2020, 1, 27, 0, 0),
       datetime.datetime(2020, 1, 28, 0, 0),
       datetime.datetime(2020, 1, 29, 0, 0),
       datetime.datetime(2020, 1, 30, 0, 0),
       datetime.datetime(2020, 1, 31, 0, 0),
       datetime.datetime(2020, 2, 1, 0, 0),
       datetime.datetime(2020, 2, 2, 0, 0),
       datetime.datetime(2020, 2, 3, 0, 0),
       datetime.datetime(2020, 2, 4, 0, 0),
       datetime.datetime(2020, 2, 5, 0, 0),
       datetime.datetime(2020, 2, 6, 0, 0),
       datetime.datetime(2020, 2, 7, 0, 0),
       datetime.datetime(2020, 2, 8, 0, 0),
       datetime.datetime(2020, 2, 9, 0, 0),
       datetime.datetime(2020, 2, 10, 0, 0),
       datetime.datetime(2020, 2, 11, 0, 0),
       datetime.datetime(2020, 2, 12, 0, 0),
       datetime.datetime(2020, 2, 13, 0, 0),
       datetime.datetime(2020, 2, 14, 0, 0),
       datetime.datetime(2020, 2, 15, 0, 0),
       datetime.datetime(2020, 2, 16, 0, 0),
       datetime.datetime(2020, 2, 17, 0, 0),
       datetime.datetime(2020, 2, 18, 0, 0),
       datetime.datetime(2020, 2, 19, 0, 0),
       datetime.datetime(2020, 2, 20, 0, 0),
       datetime.datetime(2020, 2, 21, 0, 0),
       datetime.datetime(2020, 2, 22, 0, 0),
       datetime.datetime(2020, 2, 23, 0, 0),
       datetime.datetime(2020, 2, 24, 0, 0),
       datetime.datetime(2020, 2, 25, 0, 0),
       datetime.datetime(2020, 2, 26, 0, 0),
       datetime.datetime(2020, 2, 27, 0, 0),
       datetime.datetime(2020, 2, 28, 0, 0),
       datetime.datetime(2020, 2, 29, 0, 0),
       datetime.datetime(2020, 3, 1, 0, 0),
       datetime.datetime(2020, 3, 2, 0, 0),
       datetime.datetime(2020, 3, 3, 0, 0),
       datetime.datetime(2020, 3, 4, 0, 0),
       datetime.datetime(2020, 3, 5, 0, 0),
       datetime.datetime(2020, 3, 6, 0, 0),
       datetime.datetime(2020, 3, 7, 0, 0),
       datetime.datetime(2020, 3, 8, 0, 0),
       datetime.datetime(2020, 3, 9, 0, 0),
       datetime.datetime(2020, 3, 10, 0, 0),
       datetime.datetime(2020, 3, 11, 0, 0),
       datetime.datetime(2020, 3, 12, 0, 0),
       datetime.datetime(2020, 3, 13, 0, 0),
       datetime.datetime(2020, 3, 14, 0, 0),
       datetime.datetime(2020, 3, 15, 0, 0),
       datetime.datetime(2020, 3, 16, 0, 0),
       datetime.datetime(2020, 3, 17, 0, 0),
       datetime.datetime(2020, 3, 18, 0, 0),
       datetime.datetime(2020, 3, 19, 0, 0),
       datetime.datetime(2020, 3, 20, 0, 0),
       datetime.datetime(2020, 3, 21, 0, 0),
       datetime.datetime(2020, 3, 22, 0, 0),
       datetime.datetime(2020, 3, 23, 0, 0),
       datetime.datetime(2020, 3, 24, 0, 0),
       datetime.datetime(2020, 3, 25, 0, 0),
       datetime.datetime(2020, 3, 26, 0, 0),
       datetime.datetime(2020, 3, 27, 0, 0),
       datetime.datetime(2020, 3, 28, 0, 0),
       datetime.datetime(2020, 3, 29, 0, 0),
       datetime.datetime(2020, 3, 30, 0, 0),
       datetime.datetime(2020, 3, 31, 0, 0),
       datetime.datetime(2020, 4, 1, 0, 0),
       datetime.datetime(2020, 4, 2, 0, 0),
       datetime.datetime(2020, 4, 3, 0, 0),
       datetime.datetime(2020, 4, 4, 0, 0),
       datetime.datetime(2020, 4, 5, 0, 0),
       datetime.datetime(2020, 4, 6, 0, 0),
       datetime.datetime(2020, 4, 7, 0, 0),
       datetime.datetime(2020, 4, 8, 0, 0),
       datetime.datetime(2020, 4, 9, 0, 0),
       datetime.datetime(2020, 4, 10, 0, 0),
       datetime.datetime(2020, 4, 11, 0, 0),
       datetime.datetime(2020, 4, 12, 0, 0),
       datetime.datetime(2020, 4, 13, 0, 0),
       datetime.datetime(2020, 4, 14, 0, 0),
       datetime.datetime(2020, 4, 15, 0, 0),
       datetime.datetime(2020, 4, 16, 0, 0),
       datetime.datetime(2020, 4, 17, 0, 0),
       datetime.datetime(2020, 4, 18, 0, 0),
       datetime.datetime(2020, 4, 19, 0, 0),
       datetime.datetime(2020, 4, 20, 0, 0),
       datetime.datetime(2020, 4, 21, 0, 0),
       datetime.datetime(2020, 4, 22, 0, 0),
       datetime.datetime(2020, 4, 23, 0, 0),
       datetime.datetime(2020, 4, 24, 0, 0),
       datetime.datetime(2020, 4, 25, 0, 0),
       datetime.datetime(2020, 4, 26, 0, 0),
       datetime.datetime(2020, 4, 27, 0, 0),
       datetime.datetime(2020, 4, 28, 0, 0),
       datetime.datetime(2020, 4, 29, 0, 0),
       datetime.datetime(2020, 4, 30, 0, 0),
       datetime.datetime(2019, 1, 1, 0, 0),
       datetime.datetime(2019, 1, 2, 0, 0),
       datetime.datetime(2019, 1, 3, 0, 0),
       datetime.datetime(2019, 1, 4, 0, 0),
       datetime.datetime(2019, 1, 5, 0, 0),
       datetime.datetime(2019, 1, 6, 0, 0),
       datetime.datetime(2019, 1, 7, 0, 0),
       datetime.datetime(2019, 1, 8, 0, 0),
       datetime.datetime(2019, 1, 9, 0, 0),
       datetime.datetime(2019, 1, 10, 0, 0),
       datetime.datetime(2019, 1, 11, 0, 0),
       datetime.datetime(2019, 1, 12, 0, 0),
       datetime.datetime(2019, 1, 13, 0, 0),
       datetime.datetime(2019, 1, 14, 0, 0),
       datetime.datetime(2019, 1, 15, 0, 0),
       datetime.datetime(2019, 1, 16, 0, 0),
       datetime.datetime(2019, 1, 17, 0, 0),
       datetime.datetime(2019, 1, 18, 0, 0),
       datetime.datetime(2019, 1, 19, 0, 0),
       datetime.datetime(2019, 1, 20, 0, 0),
       datetime.datetime(2019, 1, 21, 0, 0),
       datetime.datetime(2019, 1, 22, 0, 0),
       datetime.datetime(2019, 1, 23, 0, 0),
       datetime.datetime(2019, 1, 24, 0, 0),
       datetime.datetime(2019, 1, 25, 0, 0),
       datetime.datetime(2019, 1, 26, 0, 0),
       datetime.datetime(2019, 1, 27, 0, 0),
       datetime.datetime(2019, 1, 28, 0, 0),
       datetime.datetime(2019, 1, 29, 0, 0),
       datetime.datetime(2019, 1, 30, 0, 0),
       datetime.datetime(2019, 1, 31, 0, 0),
       datetime.datetime(2019, 2, 1, 0, 0),
       datetime.datetime(2019, 2, 2, 0, 0),
       datetime.datetime(2019, 2, 3, 0, 0),
       datetime.datetime(2019, 2, 4, 0, 0),
       datetime.datetime(2019, 2, 5, 0, 0),
       datetime.datetime(2019, 2, 6, 0, 0),
       datetime.datetime(2019, 2, 7, 0, 0),
       datetime.datetime(2019, 2, 8, 0, 0),
       datetime.datetime(2019, 2, 9, 0, 0),
       datetime.datetime(2019, 2, 10, 0, 0),
       datetime.datetime(2019, 2, 11, 0, 0),
       datetime.datetime(2019, 2, 12, 0, 0),
       datetime.datetime(2019, 2, 13, 0, 0),
       datetime.datetime(2019, 2, 14, 0, 0),
       datetime.datetime(2019, 2, 15, 0, 0),
       datetime.datetime(2019, 2, 16, 0, 0),
       datetime.datetime(2019, 2, 17, 0, 0),
       datetime.datetime(2019, 2, 18, 0, 0),
       datetime.datetime(2019, 2, 19, 0, 0),
       datetime.datetime(2019, 2, 20, 0, 0),
       datetime.datetime(2019, 2, 21, 0, 0),
       datetime.datetime(2019, 2, 22, 0, 0),
       datetime.datetime(2019, 2, 23, 0, 0),
       datetime.datetime(2019, 2, 24, 0, 0),
       datetime.datetime(2019, 2, 25, 0, 0),
       datetime.datetime(2019, 2, 26, 0, 0),
       datetime.datetime(2019, 2, 27, 0, 0),
       datetime.datetime(2019, 2, 28, 0, 0),
       datetime.datetime(2019, 3, 1, 0, 0),
       datetime.datetime(2019, 3, 2, 0, 0),
       datetime.datetime(2019, 3, 3, 0, 0),
       datetime.datetime(2019, 3, 4, 0, 0),
       datetime.datetime(2019, 3, 5, 0, 0),
       datetime.datetime(2019, 3, 6, 0, 0),
       datetime.datetime(2019, 3, 7, 0, 0),
       datetime.datetime(2019, 3, 8, 0, 0),
       datetime.datetime(2019, 3, 9, 0, 0),
       datetime.datetime(2019, 3, 10, 0, 0),
       datetime.datetime(2019, 3, 11, 0, 0),
       datetime.datetime(2019, 3, 12, 0, 0),
       datetime.datetime(2019, 3, 13, 0, 0),
       datetime.datetime(2019, 3, 14, 0, 0),
       datetime.datetime(2019, 3, 15, 0, 0),
       datetime.datetime(2019, 3, 16, 0, 0),
       datetime.datetime(2019, 3, 17, 0, 0),
       datetime.datetime(2019, 3, 18, 0, 0),
       datetime.datetime(2019, 3, 19, 0, 0),
       datetime.datetime(2019, 3, 20, 0, 0),
       datetime.datetime(2019, 3, 21, 0, 0),
       datetime.datetime(2019, 3, 22, 0, 0),
       datetime.datetime(2019, 3, 23, 0, 0),
       datetime.datetime(2019, 3, 24, 0, 0),
       datetime.datetime(2019, 3, 25, 0, 0),
       datetime.datetime(2019, 3, 26, 0, 0),
       datetime.datetime(2019, 3, 27, 0, 0),
       datetime.datetime(2019, 3, 28, 0, 0),
       datetime.datetime(2019, 3, 29, 0, 0),
       datetime.datetime(2019, 3, 30, 0, 0),
       datetime.datetime(2019, 3, 31, 0, 0),
       datetime.datetime(2019, 4, 1, 0, 0),
       datetime.datetime(2019, 4, 2, 0, 0),
       datetime.datetime(2019, 4, 3, 0, 0),
       datetime.datetime(2019, 4, 4, 0, 0),
       datetime.datetime(2019, 4, 5, 0, 0),
       datetime.datetime(2019, 4, 6, 0, 0),
       datetime.datetime(2019, 4, 7, 0, 0),
       datetime.datetime(2019, 4, 8, 0, 0),
       datetime.datetime(2019, 4, 9, 0, 0),
       datetime.datetime(2019, 4, 10, 0, 0),
       datetime.datetime(2019, 4, 11, 0, 0),
       datetime.datetime(2019, 4, 12, 0, 0),
       datetime.datetime(2019, 4, 13, 0, 0),
       datetime.datetime(2019, 4, 14, 0, 0),
       datetime.datetime(2019, 4, 15, 0, 0),
       datetime.datetime(2019, 4, 16, 0, 0),
       datetime.datetime(2019, 4, 17, 0, 0),
       datetime.datetime(2019, 4, 18, 0, 0),
       datetime.datetime(2019, 4, 19, 0, 0),
       datetime.datetime(2019, 4, 20, 0, 0),
       datetime.datetime(2019, 4, 21, 0, 0),
       datetime.datetime(2019, 4, 22, 0, 0),
       datetime.datetime(2019, 4, 23, 0, 0),
       datetime.datetime(2019, 4, 24, 0, 0),
       datetime.datetime(2019, 4, 25, 0, 0),
       datetime.datetime(2019, 4, 26, 0, 0),
       datetime.datetime(2019, 4, 27, 0, 0),
       datetime.datetime(2019, 4, 28, 0, 0),
       datetime.datetime(2019, 4, 29, 0, 0),
       datetime.datetime(2019, 4, 30, 0, 0),
       datetime.datetime(2019, 5, 1, 0, 0),
       datetime.datetime(2019, 5, 2, 0, 0),
       datetime.datetime(2019, 5, 3, 0, 0),
       datetime.datetime(2019, 5, 4, 0, 0),
       datetime.datetime(2019, 5, 5, 0, 0),
       datetime.datetime(2019, 5, 6, 0, 0),
       datetime.datetime(2019, 5, 7, 0, 0),
       datetime.datetime(2019, 5, 8, 0, 0),
       datetime.datetime(2019, 5, 9, 0, 0),
       datetime.datetime(2019, 5, 10, 0, 0),
       datetime.datetime(2019, 5, 11, 0, 0),
       datetime.datetime(2019, 5, 12, 0, 0),
       datetime.datetime(2019, 5, 13, 0, 0),
       datetime.datetime(2019, 5, 14, 0, 0),
       datetime.datetime(2019, 5, 15, 0, 0),
       datetime.datetime(2019, 5, 16, 0, 0),
       datetime.datetime(2019, 5, 17, 0, 0),
       datetime.datetime(2019, 5, 18, 0, 0),
       datetime.datetime(2019, 5, 19, 0, 0),
       datetime.datetime(2019, 5, 20, 0, 0),
       datetime.datetime(2019, 5, 21, 0, 0),
       datetime.datetime(2019, 5, 22, 0, 0),
       datetime.datetime(2019, 5, 23, 0, 0),
       datetime.datetime(2019, 5, 24, 0, 0),
       datetime.datetime(2019, 5, 25, 0, 0),
       datetime.datetime(2019, 5, 26, 0, 0),
       datetime.datetime(2019, 5, 27, 0, 0),
       datetime.datetime(2019, 5, 28, 0, 0),
       datetime.datetime(2019, 5, 29, 0, 0),
       datetime.datetime(2019, 5, 30, 0, 0),
       datetime.datetime(2019, 5, 31, 0, 0),
       datetime.datetime(2019, 6, 1, 0, 0),
       datetime.datetime(2019, 6, 2, 0, 0),
       datetime.datetime(2019, 6, 3, 0, 0),
       datetime.datetime(2019, 6, 4, 0, 0),
       datetime.datetime(2019, 6, 5, 0, 0),
       datetime.datetime(2019, 6, 6, 0, 0),
       datetime.datetime(2019, 6, 7, 0, 0),
       datetime.datetime(2019, 6, 8, 0, 0),
       datetime.datetime(2019, 6, 9, 0, 0),
       datetime.datetime(2019, 6, 10, 0, 0),
       datetime.datetime(2019, 6, 11, 0, 0),
       datetime.datetime(2019, 6, 12, 0, 0),
       datetime.datetime(2019, 6, 13, 0, 0),
       datetime.datetime(2019, 6, 14, 0, 0),
       datetime.datetime(2019, 6, 15, 0, 0),
       datetime.datetime(2019, 6, 16, 0, 0),
       datetime.datetime(2019, 6, 17, 0, 0),
       datetime.datetime(2019, 6, 18, 0, 0),
       datetime.datetime(2019, 6, 19, 0, 0),
       datetime.datetime(2019, 6, 20, 0, 0),
       datetime.datetime(2019, 6, 21, 0, 0),
       datetime.datetime(2019, 6, 22, 0, 0),
       datetime.datetime(2019, 6, 23, 0, 0),
       datetime.datetime(2019, 6, 24, 0, 0),
       datetime.datetime(2019, 6, 25, 0, 0),
       datetime.datetime(2019, 6, 26, 0, 0),
       datetime.datetime(2019, 6, 27, 0, 0),
       datetime.datetime(2019, 6, 28, 0, 0),
       datetime.datetime(2019, 6, 29, 0, 0),
       datetime.datetime(2019, 6, 30, 0, 0),
       datetime.datetime(2019, 7, 1, 0, 0),
       datetime.datetime(2019, 7, 2, 0, 0),
       datetime.datetime(2019, 7, 3, 0, 0),
       datetime.datetime(2019, 7, 4, 0, 0),
       datetime.datetime(2019, 7, 5, 0, 0),
       datetime.datetime(2019, 7, 6, 0, 0),
       datetime.datetime(2019, 7, 7, 0, 0),
       datetime.datetime(2019, 7, 8, 0, 0),
       datetime.datetime(2019, 7, 9, 0, 0),
       datetime.datetime(2019, 7, 10, 0, 0),
       datetime.datetime(2019, 7, 11, 0, 0),
       datetime.datetime(2019, 7, 12, 0, 0),
       datetime.datetime(2019, 7, 13, 0, 0),
       datetime.datetime(2019, 7, 14, 0, 0),
       datetime.datetime(2019, 7, 15, 0, 0),
       datetime.datetime(2019, 7, 16, 0, 0),
       datetime.datetime(2019, 7, 17, 0, 0),
       datetime.datetime(2019, 7, 18, 0, 0),
       datetime.datetime(2019, 7, 19, 0, 0),
       datetime.datetime(2019, 7, 20, 0, 0),
       datetime.datetime(2019, 7, 21, 0, 0),
       datetime.datetime(2019, 7, 22, 0, 0),
       datetime.datetime(2019, 7, 23, 0, 0),
       datetime.datetime(2019, 7, 24, 0, 0),
       datetime.datetime(2019, 7, 25, 0, 0),
       datetime.datetime(2019, 7, 26, 0, 0),
       datetime.datetime(2019, 7, 27, 0, 0),
       datetime.datetime(2019, 7, 28, 0, 0),
       datetime.datetime(2019, 7, 29, 0, 0),
       datetime.datetime(2019, 7, 30, 0, 0),
       datetime.datetime(2019, 7, 31, 0, 0),
       datetime.datetime(2019, 8, 1, 0, 0),
       datetime.datetime(2019, 8, 2, 0, 0),
       datetime.datetime(2019, 8, 3, 0, 0),
       datetime.datetime(2019, 8, 4, 0, 0),
       datetime.datetime(2019, 8, 5, 0, 0),
       datetime.datetime(2019, 8, 6, 0, 0),
       datetime.datetime(2019, 8, 7, 0, 0),
       datetime.datetime(2019, 8, 8, 0, 0),
       datetime.datetime(2019, 8, 9, 0, 0),
       datetime.datetime(2019, 8, 10, 0, 0),
       datetime.datetime(2019, 8, 11, 0, 0),
       datetime.datetime(2019, 8, 12, 0, 0),
       datetime.datetime(2019, 8, 13, 0, 0),
       datetime.datetime(2019, 8, 14, 0, 0),
       datetime.datetime(2019, 8, 15, 0, 0),
       datetime.datetime(2019, 8, 16, 0, 0),
       datetime.datetime(2019, 8, 17, 0, 0),
       datetime.datetime(2019, 8, 18, 0, 0),
       datetime.datetime(2019, 8, 19, 0, 0),
       datetime.datetime(2019, 8, 20, 0, 0),
       datetime.datetime(2019, 8, 21, 0, 0),
       datetime.datetime(2019, 8, 22, 0, 0),
       datetime.datetime(2019, 8, 23, 0, 0),
       datetime.datetime(2019, 8, 24, 0, 0),
       datetime.datetime(2019, 8, 25, 0, 0),
       datetime.datetime(2019, 8, 26, 0, 0),
       datetime.datetime(2019, 8, 27, 0, 0),
       datetime.datetime(2019, 8, 28, 0, 0),
       datetime.datetime(2019, 8, 29, 0, 0),
       datetime.datetime(2019, 8, 30, 0, 0),
       datetime.datetime(2019, 8, 31, 0, 0),
       datetime.datetime(2019, 9, 1, 0, 0),
       datetime.datetime(2019, 9, 2, 0, 0),
       datetime.datetime(2019, 9, 3, 0, 0),
       datetime.datetime(2019, 9, 4, 0, 0),
       datetime.datetime(2019, 9, 5, 0, 0),
       datetime.datetime(2019, 9, 6, 0, 0),
       datetime.datetime(2019, 9, 7, 0, 0),
       datetime.datetime(2019, 9, 8, 0, 0),
       datetime.datetime(2019, 9, 9, 0, 0),
       datetime.datetime(2019, 9, 10, 0, 0),
       datetime.datetime(2019, 9, 11, 0, 0),
       datetime.datetime(2019, 9, 12, 0, 0),
       datetime.datetime(2019, 9, 13, 0, 0),
       datetime.datetime(2019, 9, 14, 0, 0),
       datetime.datetime(2019, 9, 15, 0, 0),
       datetime.datetime(2019, 9, 16, 0, 0),
       datetime.datetime(2019, 9, 17, 0, 0),
       datetime.datetime(2019, 9, 18, 0, 0),
       datetime.datetime(2019, 9, 19, 0, 0),
       datetime.datetime(2019, 9, 20, 0, 0),
       datetime.datetime(2019, 9, 21, 0, 0),
       datetime.datetime(2019, 9, 22, 0, 0),
       datetime.datetime(2019, 9, 23, 0, 0),
       datetime.datetime(2019, 9, 24, 0, 0),
       datetime.datetime(2019, 9, 25, 0, 0),
       datetime.datetime(2019, 9, 26, 0, 0),
       datetime.datetime(2019, 9, 27, 0, 0),
       datetime.datetime(2019, 9, 28, 0, 0),
       datetime.datetime(2019, 9, 29, 0, 0),
       datetime.datetime(2019, 9, 30, 0, 0),
       datetime.datetime(2019, 10, 1, 0, 0),
       datetime.datetime(2019, 10, 2, 0, 0),
       datetime.datetime(2019, 10, 3, 0, 0),
       datetime.datetime(2019, 10, 4, 0, 0),
       datetime.datetime(2019, 10, 5, 0, 0),
       datetime.datetime(2019, 10, 6, 0, 0),
       datetime.datetime(2019, 10, 7, 0, 0),
       datetime.datetime(2019, 10, 8, 0, 0),
       datetime.datetime(2019, 10, 9, 0, 0),
       datetime.datetime(2019, 10, 10, 0, 0),
       datetime.datetime(2019, 10, 11, 0, 0),
       datetime.datetime(2019, 10, 12, 0, 0),
       datetime.datetime(2019, 10, 13, 0, 0),
       datetime.datetime(2019, 10, 14, 0, 0),
       datetime.datetime(2019, 10, 15, 0, 0),
       datetime.datetime(2019, 10, 16, 0, 0),
       datetime.datetime(2019, 10, 17, 0, 0),
       datetime.datetime(2019, 10, 18, 0, 0),
       datetime.datetime(2019, 10, 19, 0, 0),
       datetime.datetime(2019, 10, 20, 0, 0),
       datetime.datetime(2019, 10, 21, 0, 0),
       datetime.datetime(2019, 10, 22, 0, 0),
       datetime.datetime(2019, 10, 23, 0, 0),
       datetime.datetime(2019, 10, 24, 0, 0),
       datetime.datetime(2019, 10, 25, 0, 0),
       datetime.datetime(2019, 10, 26, 0, 0),
       datetime.datetime(2019, 10, 27, 0, 0),
       datetime.datetime(2019, 10, 28, 0, 0),
       datetime.datetime(2019, 10, 29, 0, 0),
       datetime.datetime(2019, 10, 30, 0, 0),
       datetime.datetime(2019, 10, 31, 0, 0),
       datetime.datetime(2019, 11, 1, 0, 0),
       datetime.datetime(2019, 11, 2, 0, 0),
       datetime.datetime(2019, 11, 3, 0, 0),
       datetime.datetime(2019, 11, 4, 0, 0),
       datetime.datetime(2019, 11, 5, 0, 0),
       datetime.datetime(2019, 11, 6, 0, 0),
       datetime.datetime(2019, 11, 7, 0, 0),
       datetime.datetime(2019, 11, 8, 0, 0),
       datetime.datetime(2019, 11, 9, 0, 0),
       datetime.datetime(2019, 11, 10, 0, 0),
       datetime.datetime(2019, 11, 11, 0, 0),
       datetime.datetime(2019, 11, 12, 0, 0),
       datetime.datetime(2019, 11, 13, 0, 0),
       datetime.datetime(2019, 11, 14, 0, 0),
       datetime.datetime(2019, 11, 15, 0, 0),
       datetime.datetime(2019, 11, 16, 0, 0),
       datetime.datetime(2019, 11, 17, 0, 0),
       datetime.datetime(2019, 11, 18, 0, 0),
       datetime.datetime(2019, 11, 19, 0, 0),
       datetime.datetime(2019, 11, 20, 0, 0),
       datetime.datetime(2019, 11, 21, 0, 0),

In [73]:
wildlife_data_clean[wildlife_data_clean['CALL_SAVED_TIME'] == "2018-05-18 00:00:00"]

,CALL_DESCRIPTION,CALL_REGION,CALL_SAVED_TIME,CA_ANIMAL_TYPE,reason_for_call,type_of_calls,verb_inj
95142,hfm nest destruction - today (18/5/18) a tree ...,Edinburgh,2018-05-18 00:00:00,Unknown,location_notice,report_calls,nest

In [74]:
import datetime

In [75]:
wildlife_data_clean.loc[:,'CALL_SAVED_TIME'] = pd.to_datetime(wildlife_data_clean['CALL_SAVED_TIME'], errors = 'coerce')

/usr/local/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1842: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item_labels[indexer[info_axis]]] = value

In [76]:
wildlife_data_clean.loc[:,'CALL_SAVED_TIME']

0        2020-01-01
1        2020-01-01
2        2020-01-01
3        2020-01-01
4        2020-01-01
            ...
153369   2018-12-31
153370   2018-12-31
153371   2018-12-31
153372   2018-12-31
153373   2018-12-31
Name: CALL_SAVED_TIME, Length: 152743, dtype: datetime64[ns]

In [77]:
wildlife_data_clean_final = wildlife_data_clean.drop(columns = ['CALL_DESCRIPTION', 'verb_inj']).copy()

In [78]:
wildlife_data_clean_final
#data is ready for analysis

,CALL_REGION,CALL_SAVED_TIME,CA_ANIMAL_TYPE,reason_for_call,type_of_calls
0,Central,2020-01-01,Deer,rescue,report_calls
1,Central,2020-01-01,Deer,rescue,report_calls
2,Central,2020-01-01,Deer,rescue,report_calls
3,Aberdeen,2020-01-01,Wild Bird,injury,report_calls
4,Central,2020-01-01,Gull,injury,report_calls
...,...,...,...,...,...
153369,Central,2018-12-31,Swan,injury,report_calls
153370,Glasgow,2018-12-31,Wild Bird,injury,report_calls
153371,Aberdeen,2018-12-31,Wild Bird,injury,report_calls
153372,Glasgow,2018-12-31,Wild Bird,injury,report_calls
153373,Edinburgh,2018-12-31,Wild Bird,injury,report_calls

# Data asserting

In [79]:
assert wildlife_data_clean_final.loc[:,wildlife_data_clean_final.columns !='CALL_SAVED_TIME'].isnull().values.any()==False, "Missing values found"

In [80]:
wildlife_data_clean_final.isnull().sum()
#Missing data only in time column as expected

CALL_REGION         0
CALL_SAVED_TIME    71
CA_ANIMAL_TYPE      0
reason_for_call     0
type_of_calls       0
dtype: int64

# Writing data

In [81]:
wildlife_data_clean_final.to_csv('../clean_data/wildlife_clean.csv')